.droplinetabs{
	overflow: hidden;
	margin: 20px 0 0 0;
	background-image: url(common/layout/tabbg.gif);
	background-repeat: repeat-x;
	background-position: top;	
} 

.droplinetabs ul{
	font-size: 11px;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	width: 100%;
	list-style: none;
	line-height: 1.3;
}

.droplinetabs li{
display: inline;
margin: 0;
padding: 3px;
-webkit-border-radius: 3px;  
-moz-border-radius: 3px; 
-khtml-border-radius: 3px;  
border-radius: 3px;
}

.droplinetabs a{
float: left;
color: black;
background: #d6dac9 url(leftedge.gif) no-repeat left top; /*default background color of tabs, left corner image*/
margin: 0px 4px 0 0;
padding: 0px 2px;
text-decoration: none;
letter-spacing: normal;
-webkit-border-radius: 3px;  
-moz-border-radius: 3px; 
-khtml-border-radius: 3px;  
border-radius: 3px;
-moz-border-radius-bottomright: 0px;
-moz-border-radius-bottomleft: 0px;
-webkit-border-bottom-right-radius: 0px;
-webkit-border-bottom-left-radius: 0px;
}

.droplinetabs ul li.currenttab a {
float: left;
color: #000;
background: #fff url(leftedge.gif) no-repeat left top; /*default background color of tabs, left corner image*/
margin: 0px 4px 0 0;
padding: 0px 7px;
text-decoration: none;
border: 1px solid #999;
border-bottom-style: none;
letter-spacing: normal;
-webkit-border-radius: 3px;  
-moz-border-radius: 3px; 
-khtml-border-radius: 3px;  
border-radius: 3px;
-moz-border-radius-bottomright: 0px;
-moz-border-radius-bottomleft: 0px;
-webkit-border-bottom-right-radius: 0px;
-webkit-border-bottom-left-radius: 0px;
}

.droplinetabs a:link, .droplinetabs a::visited, .droplinetabs a:active{
color: black;
}

.droplinetabs a span{
float: left;
display: block;
background: transparent url(rightedge.gif) no-repeat right top; /*right corner image*/
padding: 7px 5px 3px 5px;
cursor: pointer;
}

.droplinetabs a span{
float: none;
}


.droplinetabs a:hover{
background-color: #aac872; /*background color of tabs onMouseover*/
color: black;
}

.admintabs a:hover{
color: black;
background: url(common/layout/headerbg3.gif);
}

.droplinetabs a:hover span{
background-color: transparent;
}

/* Sub level menus*/
.droplinetabs ul li ul{
position: absolute;
z-index: 100;
text-align: right;
left: 0px;
top: -10;
visibility: hidden;
}

/* Sub level menu links style */
.droplinetabs ul li ul li a{
font: normal 12px;
float: right;
padding: 0px 3px;
margin: 0;
color: #1d71d1;
background: #d0d0d0; /*sub menu background color */
}

.droplinetabs ul li ul li a span{
background: #d0d0d0; /*sub menu background color */
}

.droplinetabs ul li ul li a:hover{ /*sub menu links' background color onMouseover. Add rounded edges in capable browsers */
background: #bebebe;
-webkit-border-radius: 3px;  
-moz-border-radius: 3px; 
-khtml-border-radius: 3px;  
border-radius: 3px;
color: #1d71d1;
text-decoration: underline;
}
