 
			
    /* image replacement */
        .graphic, #prevBtn, #nextBtn, #slider1prev, #slider1next{
            margin:0;
            padding:0;
            display:block;
            overflow:hidden;
            text-indent:-8000px;
            }
    /* // image replacement */
			
		

/* Easy Slider */

	#slider ul, #slider li,
	#slider2 ul, #slider2 li,
	#slider_footer ul, #slider_footer li{
		margin:0;
		padding:0;
		list-style:none;
		position: relative;
		overflow: hidden;
		}
	#slider2{margin-top:1em}
	#slider li { 
		/* 
			define width and height of list item (slide)
			entire slider area will adjust according to the parameters provided here
		*/ 
		width:950px;
		height:241px;
		overflow:hidden; 
		}
		
	#slider_footer li { 
		/* 
			define width and height of list item (slide)
			entire slider area will adjust according to the parameters provided here
		*/ 
		width:950px;
		height:175px;
		overflow:hidden; 
		}
		
	#slider_footer li h2 { padding-top: 10px }
		
	#slider_footer_prev a {
		display:block;
		width:80px;
		z-index:1000;
		background-color: #9FCD50;
		padding: 5px 10px;
		text-align: center;
		font-size: 13px;
		position: relative;
		top: 5px;
		left: 10px;
	}
	
	#slider_footer_next a {
		display:block;
		width:80px;
		z-index:1000;
		background-color: #9FCD50;
		padding: 5px 10px;
		position: relative;
		top: -20px;
		left: 120px;
		text-align: center;
		font-size: 13px;
	}	
	
	#slider_footer_next a, #slider_footer_prev a { color: #fff; text-decoration: none; background-color: #9FCD50 }
	#slider_footer_next a:hover, #slider_footer_prev a:hover { text-decoration: none; background-color: #78AC26 }
	#slider_footer_next a:active, #slider_footer_prev a:active { text-decoration: none; background-color: #333 }

	#slider2 li{ 
		/* 
			define width and height of list item (slide)
			entire slider area will adjust according to the parameters provided here
		*/ 
		width:940px;
		height:282px;
		overflow:hidden; 
		}	
		
		
	SPAN#prevBtn, #nextBtn,
	#slider1next, #slider1prev{ 
		display:block;
		width:30px;
		height:77px;
		position:absolute;
		left:-30px;
		top:71px;
		z-index:1000;
		}	
	#nextBtn, #slider1next{ 
		left:696px;
		}														
	#prevBtn a, #nextBtn a{  
		display:block;
		position:relative;
		width:30px;
		height:77px;
		background:url(common/layout/prev.jpg) no-repeat 0 0;	
		}	
	#nextBtn a, #slider1next a{ 
		background:url(common/layout/next.jpg) no-repeat 0 0;	
		}	
		
	/* numeric controls */	

	ol#controls{
		margin:1em 0;
		padding:0;
		height:18px;	
		position: relative;
		top: -60px;
		left: 110px;
		}
	ol#controls li{
		margin:0 15px 0 0; 
		float:left;
		list-style:none;
		height:12px;
		width: 12px;
		}
	ol#controls li a{
		height:15px;
		width: 15px;
		padding: 3px 5px 3px 5px;
		background:#c8c8c8;
		color:#fff;
		text-decoration:none;
		border: 2px solid #c8c8c8;
		}
	ol#controls li a:hover{ border: 2px solid #9FCD50; }
	ol#controls li.current a{ background:#9f9f9f; color:#fff; border: 2px solid #9f9f9f; }
	ol#controls li a:focus, #prevBtn a:focus, #nextBtn a:focus{outline:none;}
	
/* // Easy Slider */



.slidecontent {
	position:relative;
	top:-152px; left:100px;
	display:block; 
	width:300px;
	height:100px;
	z-index:9900;
	text-decoration: none !important;
}


.slidecontent h1 {
	font-size:24px;
	margin:5px 0;
	padding:0 10px;;
	color:#85c11b;
	text-decoration: none !important;
}

.slidecontent p {
	font-size:11px;
	line-height: 11px;
	margin:5px 0;
	padding:0 10px;
	color:#000;
	text-decoration: none !important;
}

#slider2 ul li .slidecontent img {
	margin: 0 0 0 1px;
}

