body { 
	margin: 0;
	padding: 0;
	background-color: #464646;
	font-family: Helvetica, Arial, Sans-serif;
}

.clear {clear:both;}
td, th {
    font-weight: bold;
    padding: 5px !important;
}
 
select, textarea,
input[type='text'],
input[type='password']
{
	border: 1px solid #aaaaaa;
	background: #fff;
	resize: none;
	color: #252525;
	cursor: text;
	padding: 3px;
	font-family: Arial, Helvetica, Sans Serif;
	font-size: 13px;
	width: 75%;
}
  
textarea:hover,
input[type='text']:hover,
input[type='password']:hover { border-color: #757575; }

textarea:focus,
input[type='text']:focus,
input[type='password']:focus {
	border-color: #0c7fbb;
}

#wrapper {
	width: 100%;
	height: 100%;
	background-color: #fff;
}

#container {
	width: 980px;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 20px;
	margin-left: auto;
	position: relative;
}

button.small {
	font-family: Helvetica, Arial, Sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #FFF;
	background-color: #216DCE;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	padding: 3px 6px;
}

button.med {
	font-family: Helvetica, Arial, Sans-serif;
	/*font-size: 14px;
	font-weight: bold;*/
	color: #FFF;
	background-color: #9bc74c;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	padding: 10px;
    margin-bottom: 10px;
	margin-top: 20px;
	font-size:18px;
		
}



button.blueonwhite {
	font-family: Helvetica, Arial, Sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #216DCE;
	background-color: #FFF;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	padding: 3px 6px;
}

button.blueonwhitehideshow {
	background-color: #fff;
        border: 1px solid black;      
        font-family: Helvetica,Arial,sans-serif;
        font-size: 14px;
        padding: 2px 6px;
}

a.blueonwhitehideshow {
	background-color: #fff;
        border: 1px solid #216ece;      
        font-family: Helvetica,Arial,sans-serif;
        font-size: 14px;
        padding: 2px 10px;
}

button.blueongrey {
	font-family: Helvetica, Arial, Sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #216DCE;
	background-color: #85c11b;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	padding: 0px 6px;
}

button.blueongrey_dash {
	font-family: Helvetica, Arial, Sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #216DCE;	
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	padding: 0px 6px;
        background: none;
}

button.hideshow{
      background-color: #404042;
    border-style: none;
    color: #fff;
    font-size: 13px;
    font-weight: bold;
    padding: 5px 11px;
}

button.blueongrey:hover, button.blueonwhite:hover { text-decoration: none; cursor: pointer }
	

.nomargin p {
	margin:0;
	padding:0;
	line-height:16px;
}

p.med a {
	font-family: Helvetica, Arial, Sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #FFF;
	background-color: #216DCE;
	padding: 3px 6px;
	margin-left: 20px;
	margin-bottom: 50px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	width: 28px;
	text-decoration: none;
}

p.med a:hover { 
background-color: #333; 
text-decoration: none; 
}

button.large {
	font-family: Helvetica, Arial, Sans-serif;
	font-size: 18px;
	font-weight: bold;
	color: #FFF;
	background-color: #216DCE;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	padding: 5px;
}

button.small:hover, button.med:hover, button.large:hover { background-color: #333; text-decoration: none; cursor: pointer }

.largegrn {
	font-family: Helvetica, Arial, Sans-serif;
	font-size: 24px;
	font-weight: bold;
	color: #FFF !important;
	background-image:url(common/layout/glossybtn1.gif);
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	padding: 5px 15px;
	text-decoration: none;
	background-repeat:no-repeat;
}

.largegrn:hover { background-image:url(common/layout/glossybtn2.gif); text-decoration: none }
.largegrn:active { background-color: #333; }


#header {
	width: 980px;
	height: 238px;
	clear: both;
}

#header h1 {
	margin: 0 10px;
	padding: 0;
	width: 460px;
	float: left
}

#login {
	margin: 0 10px;
	padding: 0;
	width: 460px;
	float: left;
	font-size: 11px;
	
}
#loggedin {
	margin: 0 10px;
	padding: 0;
	width: 460px;
	float: left;
	font-size: 11px;
	text-align: right;
}

span.alert {
	float: left;
	color: #FF0000;
	font-size:11px;
	margin-top: 10px;
	margin-left: 5px; 
	font-weight: bold;
	}
.regerror {
	float: right; 
	color: #ed1c24; 
	font-weight:bold;
	font-size: 12px; 
	margin-top: 5px; 
	padding-left:0;
}

#quickbuttons {
	width: 370px;
	text-align: right;
	clear: both;
	margin: 10px 0 10px 90px;
}

.totheleft {
	float: left;
	margin: 3px 0 0 20px;
}

#username {
	width: 100%;	
	padding: 0 0 0 20px;
}

input.loginboxes {
	width: 110px;
	height: 14px;
	margin: 1px 0 0 0;
	padding: 2px;
	border: 1px solid #aaa;
}

#username input {
	font-size: 11px;
}

#password {
	width: 100%;
	float: left;
        padding: 0 0 0 20px;
}

#loginbtn {
	width:70px;
	float: left;
	margin: 0px;
	padding: 12px 3px 3px 3px;
}

#logoptions {
	
}


#header img {
	border: none;
}

#header ul {
 	margin: 0 0 5px 15px;
}

#header li {
	font-size: 11px;
	margin: 0 5px;
	padding: 0;
	display: inline;
	list-style-type: none;
}

/* -------------------- MAIN NAVIGATION -------------------- */

ul.navone {
	float: left;
	width: 685px;
	margin: 0;
	padding: 0;
}

li.navunderline a {
color: #000;
border-bottom: 3px solid #8cc421;
text-decoration: none;
}

li.navone a:visited {
color: #000;
border-bottom: hidden;
text-decoration: none;
}

/* -------------------- DASHBOARD NAVIGATION -------------------- */

.dashstrip {
	background-image: url('common/layout/dashstrip.jpg');
	background-repeat: repeat;
	min-height: 280px;
	position: relative;
	
}

.dashstrip2 {
	background-image: url('common/layout/dashstrip.jpg');
	background-repeat: repeat;
	min-height: 250px;
	width: 960px;
	margin: 0 auto;
}

.dashnav2 {
	width: 940px;
	font-size: 12px;
	color: #000;
	background-color: #e1e1c9;
	padding: 10px;
	margin: 0 auto;
	float: none;
	clear: both;	
}


ul#droplist {
  	float: left;
  	width: 960px;
	height: 30px;
	background-color: #eee;
  	padding: 0;
  	list-style: none;
}

li.tabone {
	background-image: url('common/layout/tab1.png');
	height: 30px;
	width: 196px;
	display: block;
}

li.taboneselect {
	background-image: url('common/layout/tab1.png');
	height: 30px;
	width: 196px;
	display: block;
	background-position: left -30px;
}

li.tabtwo {
	background-image: url('common/layout/tab2.png');
	height: 30px;
	width: 196px;
}

li.tabtwoselect {
	background-image: url('common/layout/tab2.png');
	height: 30px;
	width: 196px;
	display: block;
	background-position: left -30px;
}

li.tabthree {
	background-image: url('common/layout/tab3.png');
	height: 30px;
	width: 196px;
}

li.tabthreeselect {
	background-image: url('common/layout/tab3.png');
	height: 30px;
	width: 196px;
	display: block;
	background-position: left -30px;
}

li.tabfour {
	background-image: url('common/layout/tab4.png');
	height: 30px;
	width: 196px;
}


li.tabfourselect {
	background-image: url('common/layout/tab4.png');
	height: 30px;
	width: 196px;
	background-position: left -30px;
}

li.tabfive {
	background-image: url('common/layout/tab5.png');
	height: 30px;
	width: 196px;
}

li.tabfiveselect {
	background-image: url('common/layout/tab5.png');
	height: 30px;
	width: 196px;
	display: block;
	background-position: left -30px;
}

li.tabsix {
	background-image: url('common/layout/tab6.png');
	height: 30px;
	width: 196px;
}

li.tabsixselect {
	background-image: url('common/layout/tab6.png');
	height: 30px;
	width: 196px;
	display: block;
	background-position: left -30px;
}

li.tabseven {
	background-image: url('common/layout/tab7.png');
	height: 30px;
	width: 196px;
}

li.tabsevenselect {
	background-image: url('common/layout/tab7.png');
	height: 30px;
	width: 196px;
	display: block;
	background-position: left -30px;
}

ul#droplist li {
  	display: inline;
  	font-size: 11px;
	height: 30px;
}

ul#droplist li a {
  	float: left;
	height: 70px;
}

/* APPLIES THE ACTIVE STATE */
ul#droplist li:hover > a  {
  	color: #fff;
  	text-decoration: none;
	background-position: left -60px;
}

/* THE SUBMENU LIST HIDDEN BY DEFAULT */
ul#droplist  ul {
  	display: none;
}

/* WHEN THE FIRST LEVEL MENU ITEM IS HOVERED, THE CHILD MENU APPEARS */
ul#droplist li:hover > ul {
  	position: absolute;
  	display: block;
  	height: 30px;
  	top: 10px;
	
}

ul#droplist li:hover > ul li a {
  	float: left;
  	font: bold 1.1em arial,verdana,tahoma,sans-serif;
  	line-height: 45px;
  	color: #fff;
  	text-decoration: none;
  	text-shadow: 1px 1px 1px #110000;
  	margin: 0;
  	padding: 0 30px 0 0;
}

ul#droplist li:hover > ul li a:hover {
  	color: #120000;
  	text-decoration: none;
  	text-shadow: none;
}


/* -------------------- END DASHBOARD NAVIGATION -------------------- */


h1.profilename {
	font-size: 30px;
	font-weight: normal;
}
h1.vehicletitle {
	font-size: 30px;
	font-weight: normal;
	margin-top: 20px;
}

h2.profile {
	font-size: 14px;
	color: #999;
	margin: 0 0 10px 0;
}

img.profilepic {
	float: left;
	margin-top: 0;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-left: 0;
}

.profileinfo {
	margin: 20px 0 0 0;
	padding: 0;
	font-size: 18px;
	color: #999;
	font-weight: normal;
}

.profiletitle {
	padding: 0;
	font-size: 12px;
	font-weight: bold;
	margin-top: 10px;
	margin-right: 0;
	margin-bottom: 5px;
	margin-left: 0;
}

.profilestat {
	margin: 5px 10px 5px 0;
	padding: 0;
	font-size: 11px;
	color: #999;
	font-weight: normal;
}

.updatelist {
	border-left-style: none;
	border-bottom-style: solid;
	border-right-style: none;
	border-top-style: none;
	border-color: #c8c8c8;
	border-bottom-width: 1px;
}

.updatethumb {
	margin: 0 10px 10px 0;
	float: left;
}

#callout {
	width: 260px;
	margin: 0 20px 0 0;
	padding: 5px 0;
	float: left;
	text-align: right;
	font-size: 11px;
}

#foursteps {
	background-position: center top;
	background-repeat: repeat-x;
	width: 926px;
	height: 69px;
	padding: 10px 20px 10px 34px;
	background-color: #222;
	background-image: url('common/layout/4stepsbg.gif');
	clear: both;
	position: absolute;
	left: 0;
	top: 150px;
	z-index: 99999;
}

ul#thesteps {
	margin: 0px; padding: 0;
	list-style: none;
	font-size: 1.1em;
}

ul#thesteps li {
	float: left;
	margin: 0; padding: 0;
	position: relative; /*--Important--*/
}

ul#thesteps li a {
	float: left;
	text-indent: -9999px; /*--Push text off of page--*/
	height: 70px;
}
ul#thesteps li:hover a, ul#thesteps li a:hover {
	background-position: left -70px;
} /*--Hover State--*/

ul#thesteps a.stepone {
	background-repeat: no-repeat;
	background-position: center top;
	background-image: url('common/layout/step1.jpg');
	width: 220px;
	height: 70px;
	margin: 0 10px 0 0px;
}
ul#thesteps a.steponecheck {
	background-repeat: no-repeat;
	background-position: center top;
	background-image: url('common/layout/step1.jpg');
	width: 220px;
	height: 70px;
	margin: 0 10px 0 0px;
	background-position: left -140px;
}
ul#thesteps a.steponeselect {
	background-repeat: no-repeat;
	background-position: center top;
	background-image: url('common/layout/step1.jpg');
	width: 220px;
	height: 70px;
	margin: 0 10px 0 0px;
	background-position: left -210px;
}
ul#thesteps a.steptwo {
	background: url('common/layout/step2.jpg') no-repeat;
	background-color: #fff;
	width: 220px;
	margin: 0 10px 0 0;
}
ul#thesteps a.steptwocheck {
	background: url('common/layout/step2.jpg') no-repeat;
	background-color: #fff;
	width: 220px;
	margin: 0 10px 0 0;
	background-position: left -140px;
}
ul#thesteps a.steptwoselect {
	background: url('common/layout/step2.jpg') no-repeat;
	background-color: #fff;
	width: 220px;
	margin: 0 10px 0 0;
	background-position: left -210px;
}
ul#thesteps a.stepthree {
	background: url('common/layout/step3.jpg') no-repeat;
	background-color: #fff;
	width: 220px;
	margin: 0 10px 0 0;
}
ul#thesteps a.stepthreecheck {
	background: url('common/layout/step3.jpg') no-repeat;
	background-color: #fff;
	width: 220px;
	margin: 0 10px 0 0;
	background-position: left -140px;
}
ul#thesteps a.stepthreeselect {
	background: url('common/layout/step3.jpg') no-repeat;
	background-color: #fff;
	width: 220px;
	margin: 0 10px 0 0;
	background-position: left -210px;
}
ul#thesteps a.stepfour {
	background: url('common/layout/step4.jpg') no-repeat;
	background-color: #fff;
	width: 220px;
}
ul#thesteps a.stepfourcheck {
	background: url('common/layout/step4.jpg') no-repeat;
	background-color: #fff;
	width: 220px;
	margin: 0 10px 0 0;
	background-position: left -140px;
}
ul#thesteps a.stepfourselect {
	background: url('common/layout/step4.jpg') no-repeat;
	background-color: #fff;
	width: 220px;
	margin: 0 10px 0 0;
	background-position: left -210px;
}

ul#thesteps li .sub {
	position: absolute; /*--Important--*/
	top: 70px;
	left: 0px;
	z-index: 99999;
	background: #343434;
	padding: 5px 5px 5px;
	float: left;
	display: none; /*--Hidden for those with js turned off--*/
}


ul#thesteps li .row { /*--If needed to break out into rows--*/
	clear: both;
	float: left;
	width: 100%;
	margin-bottom: 10px;
}
ul#thesteps li .sub ul{
	list-style: none;
	margin: 0; padding: 0;
	width: 200px;
	float: left;
}
ul#thesteps .sub ul li {
	width: 100%; /*--Override parent list item--*/
	color: #fff;
}
ul#thesteps .sub ul li h2 { /*--Sub nav heading style--*/
	padding: 0;  margin: 0;
	font-size: 1.3em;
	font-weight: normal;
}
ul#thesteps .sub ul li h2 a { /*--Sub nav heading link style--*/
	padding: 5px 0;
	background-image: none;
	color: #e8e000;
}
ul#thesteps .sub ul li a {
	float: none;
	font-size: 13px;
	text-indent: 0; /*--Override text-indent from parent list item--*/
	height: auto; /*--Override height from parent list item--*/
	background: url(navlist_arrow.png) no-repeat 5px 12px;
	padding: 7px 5px 7px 7px;
	display: block;
	text-decoration: none;
	color: #fff;
}
ul#thesteps .sub ul li:hover {
	background-position: 5px 12px ;/*--Override background position--*/
	background-color: #7AAC25;
}

.testimonial {
	width: 280px;
	height: 176px;
	font-size: 12px;
	padding: 20px;
	float: left;
	background-image: url('common/layout/testimonialbg.jpg');
	color: #637c4d;
	background-repeat: no-repeat;
}


.custo {
	width: 100px;
	float: left;
	margin: 0 10px 90px 0;
}

#rotator {
	position: relative;
	width: 960px;
	height: 282px;
	overflow-y: hidden;
	overflow-x: hidden;
	margin: 0 20px 20px 20px;
	clear: both;
	top: -16px;
	z-index: 1;
}

.breaker {
	clear: both;
}

#myfooter {
	clear: both;
	margin: 0 auto;
	width: 100%;
	background: url(../images/footer_bg.jpg) top repeat-x;
	border-top: #102940 1px solid;
	height: 100px;
}

#footwrap {
	width: 100%;
	margin-top: 0;
	padding: 10px 0;
	background-image: url('common/layout/footer.jpg');
	background-color: #464646;
	background-repeat: repeat-x;
}

.footer_callout {
	font-weight: bold;
	color: #9FCD50;
	display: block;
	margin: 5px 0 10px 0;
}

#footerinfo {
	width: 960px;
	margin: 0 auto;
	clear: both;
}

#footer {
	width: 960px;
	margin: 0 auto;
	background-color: #333;
	clear: both;

}

#footer p {
	font-size: 11px;
	color: #fff;
	padding: 10px;
}

/* ------------------- GRID & COMMON PROPERTIES ------------------- */

.gridthree {
	width: 220px;
	margin: 10px;
	float: left;
}
.gridthreepadded {
	width: 260px;
	float: left;
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	font-size: 11px;
	font-weight: bold;
}

.gridfour {
	width: 300px;
	margin: 10px;
	float: left;
	position: relative;
}
.gridfourpadded {
	width: 280px;
	float: left;
	margin-top: 30px;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
}
.gridfourdash {
	width: 278px;
	float: left;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: dotted;
	border-bottom-style: none;
	border-left-style: dotted;
	border-top-color: #CCC;
	border-right-color: #CCC;
	border-bottom-color: #CCC;
	border-left-color: #CCC;
	padding-top: 0px;
	padding-right: 10px;
	padding-bottom: 0px;
	padding-left: 10px;
	margin: 10px 0;
}
.gridfourdashpadded {
	width: 258px;
	float: left;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: dotted;
	border-bottom-style: none;
	border-left-style: dotted;
	border-top-color: #CCC;
	border-right-color: #CCC;
	border-bottom-color: #CCC;
	border-left-color: #CCC;
	padding-top: 0px;
	padding-right: 10px;
	padding-bottom: 0px;
	padding-left: 10px;
	margin-top: 30px;
	margin-right: 0;
	margin-bottom: 10px;
	margin-left: 0;
}

.gridfive {
	width: 380px;
	margin: 10px;
	float: left;
}
.gridfivedash {
	width: 380px;
	float: left;
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 0px;
	margin-left: 10px;
}
.gridseven {
	width: 540px;
	margin: 10px;
	float: left;
	clear: both;
}

.grideight {
	width: 97%;
	float: left;
	clear: both;
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 20px;
	margin-left: 10px;
}
.grideightcontainer {
	width: 75%;
	clear: both;
	margin: 0 auto;
}

.divcenter{
    /*background-color: #92d050;*/
    background-color: #fff;
    border: 1px solid black;
    border-radius: 5px;
    height: 135px;
    margin-bottom: 20px;
    padding: 20% 5px;
    text-align: center;
    word-wrap: break-word;
    
}


.dashboard-name{
     margin-top: -10px;
    width: 30%;
    float: right;
}

.secondmenu-table
{
    /*background-color: #EDEBE0;*/
	background-color: #393739;
    color: #fff !important;
}

.clearboth{
    clear: none;
}

#dashboardimage{
   border: 1px solid black;
    border-radius: 5px;
    width: 100%;
    height: auto;
    margin-bottom: 30px;
	background-color: #ffffff;
}

.col-xs-6.common_action > a {
    color: #216ece;
    
}

.common_action{
    padding: 10px;
    border: 1px solid black;
}







  .assessment_insidetd_green{
        background: none repeat scroll 0% 0% gray; 
        color: white;
    }

   .assessment_insidetd_green .assessment_inside{
        margin-left: 10px;
        text-transform: uppercase;'',
    }
    
    .assessment_insideother{
        margin-left: 5px;
        text-transform: uppercase;
    }

.grideightgrey {
	width: 100%;
	float: left;
	clear: both;
	background-color: #ffffff;
	font-size: 12px;
	padding: 10px;
        margin-bottom: 20px;
/*	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 20px;
	margin-left: 10px;*/
}

.gridfullgrey {
	width: 960px;
	float: left;
	clear: both;
	background-color: #EBEBEB;
	font-size: 14px;
	margin: 0;
}

.grideightdkgrey {
	width: 600px;
	float: left;
	clear: both;
	background-color: #EBEBEB;
	font-size: 12px;
	padding: 10px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 20px;
	margin-left: 10px;
}

.grideightclear {
	width: 620px;
	margin: 10px;
	float: left;
}

.gridnine {
	width: 700px;
	margin: 10px;
	float: left;
}

.gridtenpadded {
	width: 350px;
	float: left;
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
}

.grideleven {
	width: 960px;
	margin: 0 auto;
	clear: both;
}

.spread, .gridtwelve, .dashstrip {
	width: 100%;
	margin: 0 10px;
	clear: both;
}

.gridtwelve{
	padding-top: 115px;
	margin: 0 auto;
}
/* LINKS */

a:link {
	color: #216ece;
	text-decoration: none;
} 
a:visited {
	color: #216ece;
	text-decoration: none;
}
a:hover,
a:focus {
	color: #216ece;
	text-decoration: underline;
}
a:active {
	text-decoration: underline;
}

.darkbluelink a {
	color:#142c3c;
}

/* FOOTER LINKS */

#footer a:link {
	color: #c8f47c;
	text-decoration: none;
} 

#footer a:visited {
	color: #c8f47c;
	text-decoration: none;
}

#footer a:hover,
#footer a:focus {
	color: #c8f47c;
	text-decoration: underline;
}

#footer a:active {
}


/* TYPOGRAPHY */

.green {
	color:#85c11b;
}

.blue {
	color:#216dce;
}

.darkblue {
	color:#142c3c;
}

.grey {
	color:#757575;
}

.thirteen {
	font-size: 13px;
}

h1 {
	margin: 0;
	padding: 0;
}

h2 {
	margin: 0;
	padding: 0;
	color: #9fcc51;
	font-size: 18px;
}
.filter {
	font-size: 11px;
	color: #7EB22A;
}
h3.greensub {
	font-size: 14px;
	font-weight: bold;
	color: #85c11b;
	padding: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 5px;
	margin-left: 0px;
}

h1.subheadmain {
	background-position: left top;
	background-repeat: repeat-x;
	font-family: Helvetica, Arial, Sans-serif;
	font-size: 24px;
	color: #fff;
	font-weight: normal;
	width: 220px;
	text-align: center;
	background-image: url('common/layout/headerbg.gif');
	background-color: #7aac25;
	display: block;
	clear: both;
	margin-top: 25px;
	margin-right: 10px;
	margin-bottom: 0;
	margin-left: 10px;
	padding-top: 8px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
}
h1.subhead {
	background-position: left top;
	background-repeat: repeat-x;
	font-family: Helvetica, Arial, Sans-serif;
	font-size: 21px;
	color: #fff;
	width: 220px;
	font-weight: normal;
	text-align: center;
	background-image: url('common/layout/headerbg.gif');
	background-color: #7aac25;
	display: block;
	clear: both;
	margin-top: 20px;
	margin-right: 10px;
	margin-bottom: 0;
	margin-left: 10px;
	padding: 15px;
}
h4.subhead {
	background-position: left top;
	background-repeat: repeat-x;
	font-family: Helvetica, Arial, Sans-serif;
	font-size: 14px;
	color: #fff;
	font-weight: normal;
	width: 100%;
	text-align: justify;
	/*background-image: url(common/layout/headerbg2.gif);*/
	background-color: #85c11b;
	display: block;
	clear: both;
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 0;
	margin-left: 0px;
	padding-top: 8px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
}
h2.subhead {
	background-position: left top;
	background-repeat: repeat-x;
	font-family: Helvetica, Arial, Sans-serif;
	font-size: 18px;
	color: #fff;
	font-weight: normal;
	text-align: center;
	background-image: url('common/layout/headerbg.gif');
	background-color: #7aac25;
	clear: both;
	float: left;
	margin-top: 10px;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 10px;
	padding-top: 8px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	width: 220px;
}
label.register {
	width: 35px;
	color: #85C11B;
}
/*label.registera {
	width: 200px;
	display: block;
	font-size: 12px;
	float: left;
	color: #444;
	text-align: right;
	margin-top: 3px;
	margin-right: 10px;
	margin-bottom: 0;
	margin-left: 0px;
}*/
label.registera {
    color: #444;
    display: block;
    float: left;
    font-size: 12px;
    margin: 5px;
    text-align: left;
    width: 200px;
}
h2.subheadfooter {
	background-position: left top;
	background-repeat: repeat-x;
	font-family: Helvetica, Arial, Sans-serif;
	font-size: 16px;
	color: #fff;
	font-weight: bold;
	text-align: center;
	background-image: url('common/layout/headerbg.gif');
	background-color: #7aac25;
	clear: both;
	float: none;
	margin-top: 10px;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 10px;
	padding-top: 8px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	width: 250px;
	display: block;
}
h3.subhead {
	background-position: left top;
	background-repeat: repeat-x;
	font-family: Helvetica, Arial, Sans-serif;
	font-size: 16px;
	color: #fff;
	font-weight: normal;
	background-image: url('common/layout/headerbg.gif');
	background-color: #7aac25;
	clear: both;
	margin-top: 10;
	margin-right: 10px;
	margin-bottom: 0;
	margin-left: 10px;
	padding: 5px;
	width: 110px;
	text-align: center;
}

.footshow {
	font-size: 12px;
	color: #ccc;
	padding: 10px 10px 0 10px;
	display: block;
}

.footdesc {
	font-size: 14px;
	color: #fff;
}

p.greyeleven {
	font-size: 11px !important;
	color: #999;
	padding: 0px;
	margin-top: 10px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}

p.greytwelve {
	font-size: 12px !important;
	color: #999;
	padding: 0px;
	margin: 0;
}

p.blacktwelve {
	font-size: 12px;
	color: #000;
	padding: 0px;
	margin-top: 5px;
	margin-right: 0px;
	margin-bottom: 20px;
	margin-left: 0px;
	line-height: 23px;
}
p.blackeleven {
	font-size: 14px;
	color: #000;
	padding: 0px;
	margin-top: 5px;
	margin-right: 0px;
	margin-bottom: 20px;
	margin-left: 0px;
	text-align: center;
}
.formbluetext {
	font-size: 12px;
	font-weight: bold;
	color: #216ece;
	text-decoration: none;
	margin-bottom: -5px;
}

.greythirteen {
	font-size: 14px;
	color: #999;
	padding: 0px;
	margin-top: 5px;
	margin-right: 0px;
	margin-bottom: 30px;
	margin-left: 0px;
	text-align:center;
}

.blackfourteen {
	font-size: 14px;
	color: #000;
	text-decoration: none;
	font-weight: normal;
	padding-bottom: 10px;
}

ul.blackfourteen a{
	font-size: 18px;
	color: #000;
	text-decoration: none;
	font-weight: normal;
	padding-bottom: 10px;
}

ul.blackfourteen li:first-line {
	font-size: 18px;
	color: #000;
	}
	
.blacktwentytwo {
	color:#000;
	font-family: Arial, Helvetica, sans-serif;
	font-style: normal;
	font-size: 22px;
	margin: 40px 10px 0px 20px;
}

.blackxsmall {
	font-size: x-small;
}

.favorites {
	font-size:13px; 
	font-weight:bold;
	margin-top: 0;
	margin-bottom: 0;
	line-height: 16px;
}

ul.greenlist {
	font-size: 13px;
	color: #85c11b;
	text-decoration: none;
	font-weight: normal;
	padding-bottom: 10px;
}

.searchmake a {
	font-size: 12px;
	font-weight: bold;
	color: #91c445;
	text-decoration: none;
	padding-top: 10px;
	padding-right: 0px;
	padding-bottom: 10px;
	padding-left: 0px;
}

.searchmake a:hover {
	color: #668d16;
}

.searchitems {
	font-size: 12px;
	font-weight: bold;
	color: #216ece;
	text-decoration: none;
	padding-top: 10px;
	padding-right: 0px;
	padding-bottom: 10px;
	padding-left: 0px;
}
.savebutton {
	background-color: #216ece;
	font-size: 12px;
	color: #FFF;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
.searchheader {
	font-size: 14px;
	color: #668D16;
	text-decoration: none;
	font-weight: bold;
	padding-bottom: 10px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: dotted;
	border-left-style: none;
	border-top-color: #999;
	border-right-color: #999;
	border-bottom-color: #999;
	border-left-color: #999;
}
.searchheaderb {
	font-size: 12px;
	color: #668D16;
	text-decoration: none;
	font-weight: bold;
	padding-bottom: 10px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: dotted;
	border-left-style: none;
	border-top-color: #999;
	border-right-color: #999;
	border-bottom-color: #999;
	border-left-color: #999;
	padding-top: 10px;
}

.searchheaderc {
	font-size: 14px;
	color: #668D16;
	text-decoration: none;
	font-weight: bold;
	padding-bottom: 10px;
}

.searchheaderblk {
	font-size: 14px;
	color: #000;
	text-decoration: none;
	font-weight: bold;
	padding-bottom: 10px;
}
.excellent {
	font-size: 11px;
	color: #FFF;
	background-color: #91C445;
	padding: 6px;
}
.updatelist {
	font-size: 12px;
	margin: 0px;
	clear: both;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-top-color: #999;
	border-right-color: #999;
	border-bottom-color: #999;
	border-left-color: #999;
	padding-top: 10px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.updatelistfirst {
	font-size: 18px;
	margin: 0px;
	clear: both;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-top-color: #999;
	border-right-color: #999;
	border-bottom-color: #999;
	border-left-color: #999;
	padding-top: 10px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}

.updatelist p{
	font-size: 12px;
	margin: 0px;
	padding: 0px;
}

.updatelistfirst p{
	font-size: 18px;
	margin: 0px;
	padding: 0px;
}
p.salescontact {
	font-size: 12px;
	font-weight: bold;
}
p.salestitle {
	font-size: 14px;
	font-weight: bold;
	margin: 0px 0 5px 0;
	padding: 0px;
}


img.icon {
	float: left;
	margin: 0 4px 4px 4px;
}

img.right { 
	float: right;
	margin: 0 4px 4px 4px;
}
.btnspacing {
	margin: 0px;
	padding: 0px;
}
.grideightgrey ul li {
	margin-bottom: 5px;
	color: #222222;
	font-size:14px;
}
#btngetstarted {
	width: 180px;
	position: relative;
	top: -120px;
	left: 750px;
	z-index:10000;
}
#thesteps li .sub ul li {
	background-color: #a1cd52;
	height: 25px;
	width: 200px;
	margin: 0 0 2px 0;
	font-weight: bold;
}
	span#prevBtn{}
	span#nextBtn{}

#thesteps li .sub ul li.desc {
	background: none;
	width: 180px;
	margin: 10px;
	font-weight: normal;
}

/*********** TEASER *********/

#teaser {
	width: 250px;
	margin-left: 35px;
	float: left;
	position: relative;
	background-color: #ebebeb;
	color: #142c3c;
}

#teaser p {
	padding: 10px;
	margin: 0;
	border-bottom: #FFF solid 5px;
	font-size: 12px;
	font-weight: bold;
	color: #142c3c;
	line-height: 15px;
}

#teaser p span {
	font-size: 11px;
	font-weight: normal;
	line-height: 13px;
}

#teaser p span a:visited {
	text-decoration: none;
} 

/*********** Franchise Nav *********/

#franchise {
	width: 250px;
	margin-left: 35px;
	float: left;
	position: relative;
	margin-top: 145px !important;
	color: #85c11b;
}

#franchise p {
	padding: 10px;
	margin: 0;
	font-size: 13px;
	font-weight: bold;
	line-height: 15px;
}

#franchise p.current a {
	color: #757575;
}

#franchise p a:visited {
	text-decoration: none;
} 

/*********** ADMIN TABS *********/

.admintabs {
	overflow: hidden;
	margin: 20px 0 0 0;	
}

.admintabs ul{
	font-size: 12px;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	width: 100%;
	list-style: none;
}

.admintabs li{
display: inline;
-webkit-border-radius: 3px;  
-moz-border-radius: 3px; 
-khtml-border-radius: 3px;  
border-radius: 3px;
}

.admintabs a{
float: left;
color: #fff;
background-image: url('common/layout/headerbg.gif');
background-color: #7aac25;margin: 0px 4px 0 0;
background-repeat: repeat-x;
padding: 5px;
padding: 5px 15px;
text-decoration: none;
letter-spacing: normal;
text-align: center;
-webkit-border-radius: 3px;  
-moz-border-radius: 3px; 
-khtml-border-radius: 3px;  
border-radius: 3px;
-moz-border-radius-bottomright: 0px;
-moz-border-radius-bottomleft: 0px;
-webkit-border-bottom-right-radius: 0px;
-webkit-border-bottom-left-radius: 0px;
}

.admintabs ul li.admincurrent a {
float: left;
color: #000;
background: #ebebeb;
text-decoration: none;
border: 1px solid #dedcdc;
border-bottom-style: none;
letter-spacing: normal;
-webkit-border-radius: 3px;  
-moz-border-radius: 3px; 
-khtml-border-radius: 3px;  
border-radius: 3px;
-moz-border-radius-bottomright: 0px;
-moz-border-radius-bottomleft: 0px;
-webkit-border-bottom-right-radius: 0px;
-webkit-border-bottom-left-radius: 0px;
}

/*.width100{
	width:34%;
}
.width103{
	width:34%;
}
.width85{
	width:30%;
}
.width92{
	width:30%;
}*/

.width100{
	width:100px;
}
.width103{
	width:103px;
}
.width85{
	width:85px;
}
.width92{
	width:92px;
}

.width222{
	width:222px;
}
strong {
    font-weight: 800 !important;
}

.copyright.wow.fadeInUp > a{
color: #91C040;
font-weight: bold;
}

.about-this-video {
	font-size: 19px;
	margin-bottom: 15px;
}

.dashboard-title {
	/*background:#fff;*/
	text-align:center;
	margin: 15px 0 30px 0;
}
.dashboard-title h3 {
	margin:0;
	padding:0;
}
.step-text {
	color: #3b3d3b !important;
  position: relative;
  /*left: 16px;*/
}
.fa-stack {
	display: block;
	width: 100% !important;
}



















/*-----------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------*/

<!--@media (max-width: 768px) { 
	.carousel-caption p,
	#news-carousel .list-group {display:none;} 
}-->











.res_vehicles {
    padding: 0 5%;
    width: 90%;
}
button.med:hover{ background-color:#c2ee73; color:#444444;}
.blackeleven > a:hover {color:#72affb;}
.sel_res_vehicles { width: 100% !important;}
button.blueonwhitehideshow { background-color: #fff; border: 1px solid #9bc74c; color: #9bc74c; font-family: Helvetica,Arial,sans-serif; font-size: 18px; padding: 10px;}
.about-this-video {font-size:28px}
.about-this-video > a:hover {color:#72affb;}

.graph_image td { padding: 1px !important;}
.graph_image_table {width: 60%!important; margin:0 auto!important;}
.dashboardmenu .col-xs-6 {padding: 0 9% 0%;}
.dashboard-icon { padding: 0 8%!important;}
.consider-icon { margin-right: 33.3%;}
.dashboard-video {width:75%!important;}
.user-avatar-container{width:25%!important;}
.user-avatar{width:100%!important;}
.secondmenu-table td { border: 1px solid #dddddd !important; width: 33.33%;}
.assessment-icon a {float: left;margin: 0 4%;width: 25%;}  
.assessment-title { color: #216ece; font-size: 24px; margin-top: 20px;}
.assess-link a:hover {color:#54c06b;}
.helpful-tools {font-size: 20px !important;font-weight: 500;padding: 20px 0 5px !important;}
.assess-title-video > a { color: #222222;}
.assess-dash{padding-left:0px; margin-top: -30px; margin-bottom: -100px!important;}
.navbar-brand { float: left; font-size: 18px; height: auto!important; line-height: 20px; margin: 10px; padding: 0 15px;}
.get-price-expert { margin-top: 25px; padding: 50px;}



/* all */
::-webkit-input-placeholder { color:#000!important; }
::-moz-placeholder { color:#000!important; } /* firefox 19+ */
:-ms-input-placeholder { color:#000!important; } /* ie */
input:-moz-placeholder { color:#000!important; }

/* individual: webkit */
#field2::-webkit-input-placeholder { color:#000!important; }
#field3::-webkit-input-placeholder { color:#000!important; }
#field4::-webkit-input-placeholder { color:#000!important; }

/* individual: mozilla */
#field2::-moz-placeholder { color:#000!important; }
#field3::-moz-placeholder { color:#000!important; }
#field4::-moz-placeholder { color:#000!important; }
.franchise-image img { width: 30% !important;}
.franchise-image .grideight > p { margin: 0 auto; width: 50% !important;}
.support-customer { margin-top: 40px;}
.about-this-video img { width: 4% !important;}
.about-this-video span { color: #222222; font-weight: 500; }
.about-this-video > a { color: #222222; font-weight: 500;}
.page-unavailable { text-align: center; color: #464646; margin-bottom: 50px;}
.page-unavailable p {font-size: 24px; margin-bottom: 0;}
.page-unavailable > span {font-size: 15px;}
.page-unavailable a {color: #ffffff; }
.excellent-top {margin:0!important;}
.myaccount-menu { font-size: 15px; margin-top: 20px;}
#vehimage {width:720px;}
.details-box td { padding: 1px !important;}
.details-box {width: 50%!important;}
.details-box .table {margin-bottom:0px!important;}
table.researchspecific-button {width:100%!important; display:block;}
table.researchspecific-button td {width:100%!important;}
body.logged-in .assessment-vehicle { width: 100% !important;}
body.logged-in .vehicle-head {width: 100% !important;}
.priceresult-table td { text-align: center;}
.price-result-2ndtable { background-color: #ffffff; margin: 0 !important; width: 100% !important;}
.searchitems .med {margin: 0 !important;}
.search-items-button {text-align: center;}
.vehiclespec-save a { background-color: rgb(123, 173, 70); display: inline-block; padding: 10px; width: 250px;}
.vehiclespec-save span {padding: 0px 20px;}
.vehiclespec-title {font-size: 14px !important;}
.vehiclespec-please { display: block; font-size:14px;}
.vehiclespec-background {background-image: url("assets/img/bg/vehiclespecbg2.png"); background-repeat: no-repeat; background-size: 100% 100%;}
h4.assessment_insidetd_green { font-weight: bold; padding: 10px;}
.button-default { color: #ffffff!important;
	background-color: #9bc74c;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	padding: 10px;
   	font-size:18px;
	font-weight: 500;
	display:block;}
.button-default:hover{   background-color:#c2ee73; color:#444444!important;}
.button-default-span {margin-bottom:20px;display:block;}
#get-buybackground {background-image: url("assets/img/bg/get-buybg.png"); background-repeat: no-repeat; background-size: 100% 100%;}
.newbluebutton {background-color: #216ece;color: #ffffff !important; display: block; font-size: 14px; padding: 10px;text-align: center;}
.newbluebutton:hover {	background-color: #fff; border: 1px solid #216ece; display: block; color:#216ece!important;}
a.blueonwhitehideshow:hover {color:#216ece!important;}
#cboxLoadedContent {overflow:auto!important;}
.navbar-toggle {display:block!important;}
.research-option {  color: #216ece; font-weight: 500; margin-top: -80px;   text-transform: none; width:320px;}




/*-----------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------*/


@media all and (max-width: 800px) and (min-width: 500px) {
    
.common_action{
     height: 60px;
     padding: 1px 0;
}
    .grideightcontainer {
        width: 80%;
        clear: both;
        margin: 0 auto;

    }
.divcenter{
    height: 80px;
    font-size: 10px;
}

.dashboard-name{
   
   float: none;
}

.secondmenu-table
{
    font-size: 10px;
}

.clearboth{
    clear: both;
}
#dashboardimage{
    height: 80px;
}
.dashboardcrear{
    clear:both;
}
    
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}
 
.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media all and (max-width: 500px) and (min-width: 250px) {
    
				.common_action{
				     height: 80px;
				     padding: 1px 0;
				}
				    
				.btn_cont { float: none!important; }
				.grideightcontainer {
				        width: 90%;
				        clear: both;
				        margin: 0 auto;
				}
				.divcenter{
				    height: 115px;
				    font-size: 12px; 
				    padding: 10% 5px;
				}
				.dashboard-name{
				   
				   float: none;
				}
				.secondmenu-table
				{
				    font-size: 12px;
				}

				.clearboth{
				    clear: both;
				}

				.dash-step2{
				    font-size: 12px;
				}
				.header-menu{
				    font-size: 12px;
				}
				#dashboardimage{
				    height: 112px;
				}
				.dashboardcrear{
				    clear:both;
				}
				.gridtwelve{
				padding-top: 90px;
				}
	.assessment-vehicle { width: 100% !important; padding:0!important;}
.assess-title-all { width: 100% !important;}
h1.subhead {font-size: 16px !important; width: 100% !important; }
.assessment-vehicle > h3 { text-align: center;}	
.assess-title-all { padding: 0 5px!important;}
.secondmenu-table td {font-size: 10px!important; padding: 2px !important;}		
 .vehiclespec-th th {font-size:10px!important; padding:0!important;}   
.searchplan-headertop {margin-top: -75px;}  
.subhead > span {display: none;}
 body.logged-in .get-buybackground { margin-top: -100px!important;}
 body.logged-in .about-this-video {text-align:left!important;}
 .user-avatar-container{width:100%!important; margin-bottom: 40px !important; margin-top: -40px!important;}
 button.med {font-size: 12px!important;}
 
 
}
@media only screen and (max-width : 1080px) {
.assessment-vehicle h1.subhead {
    font-size: 16px!important;
    width: 80%!important;
}
.assess-title-video {padding:0!important;}
.assess-title-video { width: 40%;}
.helpful-tools {font-size: 14px !important;}
h1.vehicle-head{width:45%!important; font-size:16px!important;}
.subhead.vehicle-head img {  margin-right: -19px;  margin-top: -3px;}
body.logged-in .assessment-vehicle { width: 100% !important;}
body.logged-in .vehicle-head {width: 100% !important;}
.get-price-expert { margin-top: 10px;}
}
@media only screen and (max-width : 768px) {
	    button.med {font-size:16px;}
		#dashboardimage{height: auto!important;}
		.dashboardmenu .col-xs-6 {width:33.33%!important; padding:0% 9%;}
        .dashboard-icon { padding: 0 1%!important;}
		.dashboard-video {width:100%!important; text-align:center;}
.user-avatar-container{width:100%!important;}
.user-avatar{width:50%!important;}
.assess-mobile .col-sm-3 { width: 100%;}	
.assess-title-all {width:65%!important;}	
.assessment-vehicle {width:35%!important;}
.assessment-vehicle h1.subhead { font-size: 16px !important; width: 84% !important;}
.assessment-vehicle > h3 {font-size: 16px !important;}
.assess-title-all{padding:0!important;}
.assess-title-video { width: 40%;}
.helpful-tools {font-size: 14px !important;}
h1.vehicle-head{width:33%!important;}
#home_ytvideo_watch {
    font-size: 20px;
    right: 15px;
    text-align: center;
    text-shadow: 0 4px 3px rgba(0, 0, 0, 0.4), 0 8px 13px rgba(0, 0, 0, 0.1), 0 18px 23px rgba(0, 0, 0, 0.1);
    top: 165px;
    width: 300px;}
.img1-box2 {
    bottom: 15px;
    position: absolute;
    right: 15px;
    width: 300px;
}
.background.tinted {
    background-size: 768px 512px !important;
}
.excellent-top {margin:0!important;}
a.blueonwhitehideshow {display: block;}	
body.logged-in .assessment-vehicle { width: 100% !important;}
body.logged-in .vehicle-head {width: 100% !important;}
#vehimage {
    width: 520px !important;
}
.assess-dash {  margin-top: -20px; !important;}
.get-price-expert { margin-top: 10px;}
.add-vehicle-to-searchplan {margin-top:20px!important;}

}

@media all and (max-width: 640px) and (min-width: 480px) {
body.logged-in .vehicle-head {width:100%!important;}
body.logged-in .subhead.vehicle-head img {margin:0!important;}
#content {margin-top:10px!important;}
body.logged-in .assessment-vehicle { width: 100% !important;}
body.logged-in .assessment-vehicle h1.subhead { width: 100% !important;}
.grideight > ul { margin: 0 auto !important; width: 100%!important;}
.franchise-image img { width: 50% !important;}
.mysearchplan-button-allvehicle {display: block; font-size: 12px; text-align: center; width: 100% !important;}
.mysearchplan-button-newvehicle {display: block; font-size: 12px; text-align: center; width: 100% !important;}
.mysearchplan-table th, td{font-size: 12px;  padding: 0 !important; text-align: center;}
a.blueonwhitehideshow {display: block;font-size: 12px;}	
.details-box {width: 100%!important;}
.researchspecific-button button.med {font-size: 14px!important;}
body.logged-in #content {  margin: 90px auto!important;}
.assessment-vehicle { width: 100% !important; padding:0!important;margin-top: 65px;}
.assess-title-all { width: 100% !important;}
h1.vehicle-head { margin-top: 110px; width: 100% !important;}
#vehimage {
    width: 100% !important;
}
.assess-dash {  margin-top: -20px; !important;}
.get-price-expert { margin-top: 10px;}
.about-this-video img {width: 6% !important;}
.get-price-expert {padding: 30px 0!important;}
.vehiclespec-background {background:none;} 
.vehiclespec-save-mobile {width:100%!important;}
 .get-buybackground { background: rgba(0, 0, 0, 0) none repeat scroll 0 0;} 
 .get-buybackground2 { width: 100% !important;} 
 .newbluebutton-wrap { width: 100% !important;}
 .searchplan-headertop {margin-top: -75px;} 
  body.logged-in .get-buybackground { margin-top: -140px!important;}
  body.logged-in .about-this-video {text-align:left!important;}
  .user-avatar-container{width:100%!important; margin-bottom: 40px !important; margin-top: -40px!important;}
  .research-option {  margin-top: -30px!important;}
.add-vehicle-to-searchplan {margin-top:20px!important;}  
}
@media only screen and (max-width : 480px) {
body.logged-in .vehicle-head {width: 100% !important;}
body.logged-in .subhead.vehicle-head img {margin:0!important;}
#content {margin-top:10px!important;}
body.logged-in .assessment-vehicle { width: 100% !important;}
body.logged-in .assessment-vehicle h1.subhead { width: 100% !important;}
.grideight > ul { margin: 0 auto !important; width: 100%!important;}
.franchise-image img { width: 50% !important;}
.mysearchplan-button-allvehicle {display: block; font-size: 12px; text-align: center; width: 100% !important;}
.mysearchplan-button-newvehicle {display: block; font-size: 12px; text-align: center; width: 100% !important;}
.mysearchplan-table th, td{font-size: 12px;  padding: 0 !important; text-align: center;}
a.blueonwhitehideshow {display: block;font-size: 12px;}	
.details-box {width: 100%!important;}
.researchspecific-button button.med {font-size: 14px!important;}
body.logged-in #content {  margin: 90px auto!important;}
.assessment-vehicle { width: 100% !important; padding:0!important;margin-top: 65px;}
.assess-title-all { width: 100% !important;}
h1.vehicle-head { margin-top: 107px; width: 100% !important;}
#vehimage {
    width: 100% !important;
}
.assess-dash {  margin-top: -20px; !important;}
.get-price-expert { margin-top: 10px;}
.about-this-video img {width: 5% !important;}
.get-price-expert { padding: 30px 0!important;}
.vehiclespec-background {background:none;} 
.vehiclespec-save-mobile {width:100%!important;}
 .get-buybackground { background: rgba(0, 0, 0, 0) none repeat scroll 0 0;} 
 .get-buybackground2 { width: 100% !important;} 
 .newbluebutton-wrap { width: 100% !important;}
 .research-option {  margin-top: -30px!important;}
  .view-dashboard .common_action {height: 50px!important;}
 
}
@media only screen and (max-width : 360px) {
	
@media only screen and (max-width : 414px) {
th {font-size: 10px!important; padding-left: 0 !important; padding-right: 0 !important; text-align: center;}
.add-vehicle-to-searchplan {margin-top:20px!important;}
}	
	
	
	
	
	
	}

@media only screen and (max-width : 375px) {
.assess-mobile .col-sm-3 { width: 100%;}
.assessment-vehicle { width: 100% !important; padding:0!important; margin-top: 0px!important;}
.assess-title-all { width: 100% !important;}
.assessment-vehicle h1.subhead {font-size: 16px !important; width: 100% !important; }
.assessment-vehicle > h3 { text-align: center;}	
.secondmenu-table td {font-size: 10px!important; padding: 2px !important;}
#youtube1 > img {width: 10%!important;}
.assess-title-video { width: 50%;}
.helpful-tools {font-size: 12px !important; padding:0!important;text-align: center;}
.dash-step2 {margin-bottom:0!important;}
h1.vehicle-head{margin:0!important; width:100%!important;font-size: 14px !important;}
.subhead.vehicle-head img { margin-right: -10px !important; margin-top: -5px;}	
.dashboard-icon{padding:0!important;}
#dashboardimage {margin:0!important;}
.view-dashboard {margin-top: 10px;}
p.blackeleven {padding:0!important;}
.excellent-top {margin:0!important;}
.subhead.vehicle-head img { margin-right: -10px !important; margin-top: 20px;}
.testimonial-images > ul {font-size: 11px; width: 100% !important;}
.testimonial-images > p {font-size: 12px;}
.about-this-video span {font-size:15px;}
.dashboardmenu {margin-top:15px!important;}
.grideight > ul { margin: 0 auto !important; width: 100%!important;}
.franchise-image img { width: 50% !important;}
.mysearchplan-button-allvehicle {display: block; font-size: 12px; text-align: center; width: 100% !important;}
.mysearchplan-button-newvehicle {display: block; font-size: 12px; text-align: center; width: 100% !important;}
.mysearchplan-table th, td{font-size: 12px;  padding: 0 !important; text-align: center;}
a.blueonwhitehideshow {display: block;font-size: 12px;}	
.details-box {width: 100%!important;}
.researchspecific-button button.med {font-size: 14px!important;}
body.logged-in #content {  margin: 75px auto!important;}
.vehiclespec-table th {font-size: 9px;}
.vehiclespec-table > td {font-size: 10px;}
#vehimage { width: 100% !important;}
.assess-dash {  margin-top: -20px; !important;}
.get-price-expert { margin-top: -10px;}
.about-this-video img {width: 10% !important;}
.assess-title-all span { font-size: 12px !important; padding:10px!important; } 
.get-price-expert {  padding: 30px 0!important;}
.vehiclespec-background {background:none;} 
.vehiclespec-save-mobile {width:100%!important;}
.get-buybackground { background: rgba(0, 0, 0, 0) none repeat scroll 0 0;} 
.get-buybackground2 { width: 100% !important;}
.button-default {font-size:12px!important;}
.newbluebutton-wrap { width: 100% !important;}
.textarea-searchplan {margin: 0 5%; width: 90% !important;}
.searchplan-headertop {margin-top: -75px;} 
.vehiclespec-th th {font-size:10px!important; padding:0!important;}
.subhead > span {display: none;}
body.logged-in .get-buybackground { margin-top: -140px!important;}
body.logged-in .about-this-video {text-align:left!important;}
.user-avatar-container{width:100%!important; margin-bottom: 40px !important; margin-top: -40px!important;}
.newbluebutton {font-size: 10px!important; padding: 5px!important;}
a.blueonwhitehideshow {font-size: 10px!important; padding: 0px!important;}
button.med {font-size: 12px!important;}
.navbar-brand > img {width: 140px;}
.research-option {  margin-top: -30px!important;}
.view-dashboard .common_action {padding:0!important;}
th {font-size: 10px!important; padding-left: 0 !important; padding-right: 0 !important; text-align: center;}
.add-vehicle-to-searchplan {margin-top:20px!important;}
}
@media only screen and (max-width : 360px) {
	h1.subhead {font-size:18px;	text-align:center!important;}
	.grideightcontainer {width:100%; padding:0px;}
	.grideightgrey {width:100%; padding:0px;}
	.excellent {font-size:9px;}
	.greythirteen {padding:0 15px;}
	.save_to_favorite { margin-left: 25% !important;}
	.req_a_price {  margin-left: 13% !important; width: 80%;}	
	.graph_image_table {width: 100%!important;}
	 .dashboardmenu .col-xs-6 {width:33.33%!important; padding:0% 5%;}
	.about-this-video {text-align:center; font-size:16px!important;}
	#dashboardimage{margin-bottom:0px;}
	.dashboard-icon { padding: 0!important;}
	.dashboard-video {width:100%!important;}
.user-avatar-container{width:100%!important; margin-bottom: 40px !important; margin-top: -40px!important;}
.user-avatar{width:50%!important;}
.common_action {font-size: 12px;height: 45px;}	
.assess-mobile .col-sm-3 { width: 100%;}
.assessment-vehicle { width: 100% !important; padding:0!important; margin-top: 0px!important;}
.assess-title-all { width: 100% !important;}
.assessment-vehicle h1.subhead {font-size: 16px !important; width: 100% !important; }
.assessment-vehicle > h3 { text-align: center;}	
.secondmenu-table td {font-size: 10px!important; padding: 2px !important;}
#youtube1 > img {width: 10%!important;}
.assess-title-video { width: 50%;}
.helpful-tools {font-size: 12px !important; padding:0!important;text-align: center;}
.dash-step2 {margin-bottom:0!important;}
h1.vehicle-head{margin:0!important; width:100%!important;}
.subhead.vehicle-head img { margin-right: -10px !important; margin-top: 20px!important;}
.navbar-brand {margin:0!important;}
.img-responsive { width: 100%;}
.dashboard-content .grideightcontainer { margin-top: 85px !important;}
.franchise-image {  margin-top: 5px;}
.franchise-image .grideight > p { width: 100%!important;}
.franchise-image img { width: 100% !important;}
.background.tinted { background-position: 57% 100%!important;  background-size: 702px 550px !important;}
.view-dashboard {margin-top: 10px;}
p.blackeleven {padding:0!important;}
.excellent-top {margin:0!important;}
.testimonial-images > ul { font-size: 11px; width: 100% !important;}
.testimonial-images > p { font-size: 12px;}
.about-this-video span {font-size:15px;}
body.logged-in .subhead.vehicle-head img { margin-right: -10px !important; margin-top: 20px!important;}
.grideight > ul { margin: 0 auto !important; width: 100%!important;}
.franchise-image img { width: 50% !important;}
.mysearchplan-button-allvehicle {display: block; font-size: 12px; text-align: center; width: 100% !important;}
.mysearchplan-button-newvehicle {display: block; font-size: 12px; text-align: center; width: 100% !important;}
.mysearchplan-table th, td{font-size: 12px;  padding: 0 !important; text-align: center;}
a.blueonwhitehideshow {display: block;font-size: 12px;}	
.details-box {width: 100%!important;}
.researchspecific-button button.med {font-size: 14px!important;}
body.logged-in #content {  margin: 75px auto!important;}
.vehiclespec-table th { font-size: 9px;}
.vehiclespec-table > td { font-size: 10px;}
#vehimage { width: 100% !important;}
.assess-dash {  margin-top: -20px; !important;}
.get-price-expert { margin-top: -10px;}
.about-this-video img {width: 10% !important;}
 .assess-title-all span { font-size: 12px !important; padding:10px!important; } 
.get-price-expert {  padding: 30px 0!important;}
.vehiclespec-background {background:none;} 
.vehiclespec-save-mobile {width:100%!important;}
 .get-buybackground { background: rgba(0, 0, 0, 0) none repeat scroll 0 0;} 
 .get-buybackground2 { width: 100% !important;} 
.button-default {font-size:12px!important;}
.newbluebutton-wrap { width: 100% !important;}
.textarea-searchplan {margin: 0 5%; width: 90% !important;}
.searchplan-headertop {margin-top: -75px;} 
.vehiclespec-th th {font-size:10px!important; padding:0!important;}
.subhead > span {display: none;}
body.logged-in .get-buybackground { margin-top: -140px!important;}
body.logged-in .about-this-video {text-align:left!important;}
.newbluebutton {font-size: 10px!important; padding: 5px!important;}
a.blueonwhitehideshow {font-size: 10px!important; padding: 0px!important;}
button.med {font-size: 12px!important;}
.research-option {  margin-top: -30px!important;}
 th {font-size: 10px!important; padding-left: 0 !important; padding-right: 0 !important; text-align: center;}
 .add-vehicle-to-searchplan {margin-top:20px!important;}
 }

@media only screen and (max-width : 320px) {
		h1.subhead {
				font-size:18px;
				text-align:center!important;	
				}
		
		.grideightcontainer {width:100%; padding:0px;}
		.grideightgrey {width:100%; padding:0px;}
		.excellent {font-size:9px;}
		.greythirteen {padding:0 15px;}
		.save_to_favorite { margin-left: 21% !important;}
		.req_a_price {  margin-left: 14% !important; width: 80%;}	
		.graph_image_table {width: 100%!important;}
	    .dashboardmenu .col-xs-6 {width:33.33%!important; padding:0% 5%;}
		.about-this-video {text-align:center;}
		#dashboardimage{margin-bottom:0px;}
		.dashboard-icon { padding: 0!important;}
		.dashboard-video {width:100%!important;}
.user-avatar-container{width:100%!important; margin-bottom: 40px !important; margin-top: -40px!important;}
.user-avatar{width:50%!important;}
.common_action {font-size: 11px;height: 45px;}
.assess-mobile .col-sm-3 {width: 100%;}	
.assessment-vehicle { width: 100% !important; padding:0!important; margin-top: 0px!important;}
.assess-title-all { width: 100% !important;}
h1.subhead {font-size: 14px !important; width: 100% !important; }
.assessment-vehicle > h3 { text-align: center;}	
.assess-title-all { padding: 0 5px!important;}
.secondmenu-table td {font-size: 10px!important; padding: 2px !important;}
#youtube1 > img { width: 10%!important;}
.assess-title-video { width: 50%;}
.helpful-tools {font-size: 12px !important; padding:0!important;text-align: center;}
.dash-step2 {margin-bottom:0!important;}
h1.vehicle-head{margin:0!important;}
.subhead.vehicle-head img { margin-right: -10px !important; margin-top: 20px!important;}
.assess-dash {padding:0!important;}
.navbar-brand {margin:0!important;}
.gridtwelve { padding-top: 50px;!important;}
.img-responsive {  width: 100%;}
#content {  margin: 25px auto!important;}
.dashboard-content .grideightcontainer { margin-top: 85px !important;}
.franchise-image { margin-top: 5px;}
.franchise-image .grideight > p { width: 100%!important;}
.franchise-image img { width: 100% !important;}
.view-dashboard {margin-top: 10px;}
p.blackeleven {padding:0!important;}
.excellent-top { margin-top: 40px !important;}
.testimonial-images > ul {font-size: 11px;width: 100% !important;}
.testimonial-images > p { font-size: 12px;}
.about-this-video span {font-size:15px;}
.dashboardmenu {margin-top:15px!important;}
body.logged-in .subhead.vehicle-head img { margin-right: -10px !important; margin-top: 20px!important;}
.grideight > ul { margin: 0 auto !important; width: 100%!important;}
.franchise-image img { width: 50% !important;}
.mysearchplan-button-allvehicle {display: block; font-size: 12px; text-align: center; width: 100% !important;}
.mysearchplan-button-newvehicle {display: block; font-size: 12px; text-align: center; width: 100% !important;}
.mysearchplan-table th, td{font-size: 12px;  padding: 0 !important; text-align: center;}
a.blueonwhitehideshow {display: block;font-size: 12px;}	
.details-box {width: 100%!important;}	
.researchspecific-button button.med {font-size: 14px!important;}	
body.logged-in #content {  margin: 65px auto!important;}
.vehiclespec-table th {font-size: 9px;}
.vehiclespec-table > td {font-size: 10px;}
#vehimage {width: 100% !important;}
.assess-dash {  margin-top: -20px; !important;}
.get-price-expert { margin-top: -10px;}
.about-this-video img {width: 7% !important;}
 .assess-title-all span { font-size: 12px !important; padding:10px!important; } 
  .get-price-expert {  padding: 30px 0!important;}
 .vehiclespec-background {background:none;} 
 .vehiclespec-save-mobile {width:100%!important;}
 .get-buybackground { background: rgba(0, 0, 0, 0) none repeat scroll 0 0;} 
 .get-buybackground2 { width: 100% !important;}
 .button-default {font-size:12px!important;}
 .newbluebutton-wrap { width: 100% !important;}
 .textarea-searchplan {margin: 0 5%; width: 90% !important;}
 .searchplan-headertop {margin-top: -40px;} 
 .vehiclespec-th th {font-size:10px!important; padding:0!important;}
 .subhead > span {display: none;}
 .bestvehicle-th {font-size:12px!important; padding:0 10px!important;}
 body.logged-in .get-buybackground { margin-top: -100px!important;}
 body.logged-in .about-this-video {text-align:left!important;}
 .newbluebutton {font-size: 10px!important; padding: 5px!important;}
 a.blueonwhitehideshow {font-size: 10px!important; padding: 0px!important;}
 button.med {font-size: 12px!important;}
 .research-option {  margin-top: -30px!important;}
 .view-dashboard .common_action {height: 40px!important;}
 th {font-size: 10px!important; padding-left: 0 !important; padding-right: 0 !important; text-align: center;}
 .add-vehicle-to-searchplan {margin-top:20px!important;}
}

