/*------------------------------------------
  Responsive Grid Media Queries
  NOTES: Please add your name when you add something or modified on this file. tnx -nico
--------------------------------------------*/


@media all and (max-width: 480px) {
	.header_new_menu { display: none; }
	.navbar-toggle { padding: 10px; }	
	.navbar-brand > img { margin-top: 10px; width: 120px; }		
	.login_logout { font-size: 10px; padding: 10px 10px 0 0; }	
	.toll-free-number { font-size:13px; }	
    .img1-inner-txt-1 {
	    font-size: 25px; 
		top: 60px;
		left: 10px;
	}
	.img1-inner-txt-2 {
	    font-size: 25px; 
		top: 30px;		
		right: 10px;
	}	
	.img1-inner-txt-3 { 
		font-size: 25px; 
	   	top: 120px;
	   	right: 16px;	
	}
	#home_ytvideo_watch {
		width: 100px;
	    font-size: 15px; 
    	bottom: 170px;
		right: 12px;	
		line-height: 1.1;
	 	text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
		             0px 8px 13px rgba(0,0,0,0.1),
		             0px 18px 23px rgba(0,0,0,0.1);   	
		             text-align: center;	
	}
	#home_ytvideo_watch i {
	    font-size: 17px; 
	}	
	.img2-inner-txt {
	    font-size: 30px; 
	    top: auto;
		bottom: 90px;		
		left: 10px;
		color: #fff;
		/*text-align: right;	*/		
	}	
    .img3-inner-txt {
	    font-size: 30px; 
	    top: auto;	    
		bottom: 50px;		
		left: 10px;
		color: #fff;		
	}	
    .img4-inner-txt {
	    font-size: 30px; 
		top: 50px;
		right: 10px;
		text-align: right;
		color: #fff;		
	}		
    .img5-inner-txt {
	    font-size: 30px; 
		top: 250px;
		right: 10px;
		text-align: right;			
	}	
    .img6-inner-txt {
	    font-size: 30px; 
		top: 10px;
		left: 10px;
		color: #fff;		
	}				
    .img7-inner-txt {
	    font-size: 30px; 
		top: 10px;
		left: 10px;
	}	
	footer {
	    padding: 5px 0px 100px 0;
	}	
    .navbar123 {
    color: white;
    height: 2em;
    left: 0;
    margin-top: -6em;
    position: fixed;
    top: 100%;
    width: 100%;
     z-index: 999999;
     display: none;
	}	
	#about-us .container .row .fadeInDown .section-heading{
		font-size:12px;
		margin-top: 14px;
	}
	
	#about-us .container .row .fadeInDown  h3{
		display:none;
	}
	
	#about-us .container .row{
		display:none;
                width: 95%;
		margin: auto;
		height: 40px;
		/*border: solid thin #ccc;*/
		margin-bottom: 2px;
		/*background-color:#EFEFEF;*/
	}	
	/*#about-us .container #how_it_works{
		width:100%;
		display:block;
		background-color:#00a9ea !important;
		color:#fff;
	}*/
	
	#about-us .container #get_search_started{
		width:100%;
		display:block;
		background-color:#91D615 !important;
		color:#fff;
	}
	
	#about-us .container #what_to_buy{
		width:100%;
		display:block;
		background-color:#495EFF !important;
		color:#fff;
	}	
	#about-us .container #what_to_buy .fadeInDown .section-heading{
		letter-spacing: normal;
	}
	
	
	#about-us .container #what_to_buy .fadeInDown .section-heading a strong{
		letter-spacing: normal;
		color:#fff;
		font-size: 16px;
		line-height: 5px;		
	}
	
	#about-us .container #get_search_started .fadeInDown .section-heading a strong{
		letter-spacing: normal;
		color:#fff;
		font-size: 16px;
		line-height: 5px;
	}

	#about-us .container #how_it_works .fadeInDown .section-heading a strong{
		letter-spacing: normal;
		color:#fff;
	}	

	#abouthowitworks {		
		margin-top: 10px !important;
		margin-bottom: 20px !important;
	}	

	#abouthowitworks h2 {
		font-size: 20px;		
	}	

	.img1-box1 span { font-size: 15px; text-transform: uppercase; font-weight: 700; }
	.img1-box2 span { font-size: 15px; font-weight: 700; }		
	.img1-box1 { position: absolute; top: 70px; }
	.img1-box2 { position: absolute; bottom: 160px; right: 15px; width: 100px; }		
	.background.tinted { 
		/*background-size: 526px 410px !important;*/
		background-position: 57% -18%;				
	}	

}

@media all and (min-width: 321px) and (max-width: 480px) { 
    .img1-inner-txt-1 {
	    font-size: 25px; 
		top: 90px;
		left: 10px;
	}	
	.img1-inner-txt-2 {
	    font-size: 25px; 
		top: 60px;		
		right: 10px;
	}
	.img1-inner-txt-3 { 
		font-size: 25px; 
	   	top: 150px;
	   	right: 16px;	
	}		
	#home_ytvideo_watch {	
		width: 100px;		
	    font-size: 15px; 
    	top: 500px;
		right: 5px;	
	 	text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
		             0px 8px 13px rgba(0,0,0,0.1),
		             0px 18px 23px rgba(0,0,0,0.1);   		
	}	
	#home_ytvideo_watch i {
	    font-size: 20px;
	}	
	.img2-inner-txt {
	    font-size: 30px; 
	    top: auto;	    
		bottom: 90px;		
		left: 10px;
		color: #fff;
	}	

    .img3-inner-txt {
	    font-size: 30px; 
	    top: auto;	    
		bottom: 50px;		
		left: 10px;
		color: #fff;		
	}		

    .img4-inner-txt {
	    font-size: 30px; 
		top: 50px;
		right: 10px;
		text-align: right;
		color: #fff;	
	}	

    .img5-inner-txt {
	    font-size: 30px; 
		top: 300px;
		right: 10px;
		text-align: right;			
	}	

    .img6-inner-txt {
	    font-size: 30px; 
		top: 10px;
		left: 10px;
		color: #fff;		
	}		

	#abouthowitworks {		
		margin-top: 10px !important;
		margin-bottom: 20px !important;
	}	

	#abouthowitworks h2 {
		font-size: 20px;		
	}	

	.img1-box1 span { font-size: 18px; text-transform: uppercase; font-weight: 700; }
	.img1-box2 span { font-size: 18px; font-weight: 700; }		
	.img1-box1 { position: absolute; top: 95px; }
	.img1-box2 { position: absolute; bottom: 220px; right: 5px; width: 100px; }
	.background.tinted { 
		/*background-size: 702px 550px !important;*/		
		background-position:57% -18%; 
	}	
	.login_logout { font-size: 12px; padding: 10px 10px 0px; }	
	.toll-free-number { font-size: 14px; }	
	.navbar-brand > img { margin-top: 10px; width: 135px; }	
	body.logged-in .navbar-brand > img { margin-top: 10px; width: 130px; }	

}

@media all and (min-width: 481px) and (max-width: 768px) { 
	.header_new_menu { display: none; }
	.navbar-toggle { padding: 10px; }	
	.navbar-brand > img { width: 150px; margin-top: 5px; }
	.login_logout { font-size: 12px; padding: 10px 10px 0 10px; }	
	.toll-free-number { font-size:14px; }	
    .img1-inner-txt-1 {
		font-size: 40px; 
		top: 150px;
		left: 50px;
	}
	.img1-inner-txt-2 {
		font-size: 40px; 
		top: 110px;		
		right: 50px;
	}	
	.img1-inner-txt-3 {
		font-size: 40px; 
		top: 270px;		
		right: 60px;
	}		
	#home_ytvideo_watch {
		width: 300px;	
		text-align: center;	
		font-size: 20px;
    	top: 600px;
    	right: 15px;	
	 	text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
		             0px 8px 13px rgba(0,0,0,0.1),
		             0px 18px 23px rgba(0,0,0,0.1);   		
	}
	#home_ytvideo_watch {
		font-size: 30px; 		
	}	
	.img2-inner-txt {
	    font-size: 40px; 
	    top: auto;	    
		bottom: 90px;	
		left: 10px;
		color: #fff;
	}	
    .img3-inner-txt {
	    font-size: 40px; 
	    top: auto;	    
		bottom: 50px;		
		left: 10px;
		color: #fff;		
	}	
    .img4-inner-txt {
	    font-size: 40px; 
		top: 50px;
		right: 10px;
		/*margin: 0 10px 0 10px;*/
		color: #fff;		
	}	

    .img5-inner-txt {
	    font-size: 40px;  
		top: 350px;
		right: 10px;
		text-align: right;			
	}	
    .img6-inner-txt {
	    font-size: 40px; 
		top: 10px;
		left: 10px;
		color: #fff;			
	}				
    .img7-inner-txt {
	    font-size: 40px; 
		top: 10px;
		left: 10px;
	}	
	footer {
	    padding: 5px 0px 100px 0;
	}		
    .navbar123 {
    color: white;
    height: 2em;
    left: 0;
    margin-top: -6em;
    position: fixed;
    top: 100%;
    width: 100%;
     z-index: 999999;
     display: none;
	}	
	footer {
	    padding: 5px 0px 100px 0;
	}	
	#about-us .container .row .fadeInDown .section-heading{
		font-size:12px;
		margin-top: 14px;
	}
	
	#about-us .container .row .fadeInDown  h3{
		display:none;
	}
	
	#about-us .container .row{
		display:none;
                width: 95%;
		margin: auto;
		height: 40px;
		/*border: solid thin #ccc;*/
		margin-bottom: 2px;
		/*background-color:#EFEFEF;*/
	}	
	/*#about-us .container #how_it_works{
		width:100%;
		display:block;
		background-color:#00a9ea !important;
		color:#fff;
	}*/
	
	#about-us .container #get_search_started{
		width:100%;
		display:block;
		background-color:#91D615 !important;
		color:#fff;
	}
	
	#about-us .container #what_to_buy{
		width:100%;
		display:block;
		background-color:#495EFF !important;
		color:#fff;
	}	
	#about-us .container #what_to_buy .fadeInDown .section-heading{
		letter-spacing: normal;
	}
	
	
	#about-us .container #what_to_buy .fadeInDown .section-heading a strong{
		letter-spacing: normal;
		color:#fff;
		font-size: 28px;
		line-height: 0.5;		
	}
	
	#about-us .container #get_search_started .fadeInDown .section-heading a strong{
		letter-spacing: normal;
		color:#fff;
		font-size: 28px;
		line-height: 0.5;
	}

	#about-us .container #how_it_works .fadeInDown .section-heading a strong{
		letter-spacing: normal;
		color:#fff;
	}	

	#abouthowitworks {		
		margin-top: 10px !important;
		margin-bottom: 20px !important;
	}	

	#abouthowitworks h2 {
		font-size: 20px;		
	}	

	.img1-box1 span { font-size: 40px; text-transform: uppercase; font-weight: 700; }
	.img1-box2 span { font-size: 40px; font-weight: 700; }	
	.img1-box1 { position: absolute; top: 120px; }
	.img1-box2 { position: absolute; bottom: 500px; width: 300px; right: 15px; }
	.background.tinted { 
		/*background-size: 1106px 800px !important;	*/	
		background-position:65% -20%; 
	}	

		
}

@media all and (min-width: 769px) and (max-width: 1024px) { 
	.header_new_menu { display: none; }
	.header_new_menu a span { font-size: 8px !important; }	
	.navbar-brand > img { /*width: 140px;*/ width: 200px; margin-top: 8px; }	
	.login_logout { padding: 10px 10px 0 10px; }
    .img1-inner-txt-1 {
		font-size: 50px; 
		top: 200px;
		left: 50px;
	}
	.img1-inner-txt-2 {
		font-size: 50px; 
		top: 150px;		
		right: 50px;
	}	
	.img1-inner-txt-3 {
		font-size: 50px; 
		top: 350px;		
		right: 63px;
	}		
	#home_ytvideo_watch {
		font-size: 35px;
    	top: 500px;
    	right: 50px;	
	 	text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
		             0px 8px 13px rgba(0,0,0,0.1),
		             0px 18px 23px rgba(0,0,0,0.1);   		
	}
	.img2-inner-txt {
		font-size: 50px; 
		top: 300px;	
    	right: 50px;
	}	
    .img3-inner-txt {
		font-size: 50px; 
		top: 300px;
		left: 50px;
	}	
    .img4-inner-txt {
		font-size: 50px; 
		top: 300px;
    	/*right: 50px;*/
    	margin: 0 auto;
    	margin-left: 50px;
	}		
    .img5-inner-txt {
		font-size: 50px; 
		top: 400px;
    	right: 50px;
	}	
    .img6-inner-txt {
		font-size: 50px; 
		top: 300px;
		left: 50px;
	}				
    .img7-inner-txt {
		font-size: 50px; 
		top: 300px;
		left: 50px;
	}	
	footer {
	    padding: 5px 0px 100px 0;
	}		
    .navbar123 {
    color: white;
    height: 2em;
    left: 0;
    margin-top: -6em;
    position: fixed;
    top: 100%;
    width: 100%;
     z-index: 999999;
     display: none;
	}	
	footer {
	    padding: 5px 0px 100px 0;
	}	
    .navbar123 {
    color: white;
    height: 2em;
    left: 0;
    margin-top: -6em;
    position: fixed;
    top: 100%;
    width: 100%;
     z-index: 999999;
     display: none;
	}	
	#about-us .container .row .fadeInDown .section-heading{
		font-size:12px;
		margin-top: 14px;
	}
	
	#about-us .container .row .fadeInDown  h3{
		display:none;
	}
	
	#about-us .container .row{
		display:none;
                width: 95%;
		margin: auto;
		height: 40px;
		/*border: solid thin #ccc;*/
		margin-bottom: 2px;
		/*background-color:#EFEFEF;*/
	}	
	/*#about-us .container #how_it_works{
		width:100%;
		display:block;
		background-color:#00a9ea !important;
		color:#fff;
	}*/
	
	#about-us .container #get_search_started{
		width:100%;
		display:block;
		background-color:#91D615 !important;
		color:#fff;
	}
	
	#about-us .container #what_to_buy{
		width:100%;
		display:block;
		background-color:#495EFF !important;
		color:#fff;
	}	
	#about-us .container #what_to_buy .fadeInDown .section-heading{
		letter-spacing: normal;
	}
	
	
	#about-us .container #what_to_buy .fadeInDown .section-heading a strong{
		letter-spacing: normal;
		color:#fff;
		font-size: 16px;
		line-height: 5px;		
	}
	
	#about-us .container #get_search_started .fadeInDown .section-heading a strong{
		letter-spacing: normal;
		color:#fff;
		font-size: 16px;
		line-height: 5px;
	}

	#about-us .container #how_it_works .fadeInDown .section-heading a strong{
		letter-spacing: normal;
		color:#fff;
	}						
}










 @media all and (min-width: 375px) and (max-width: 667px) { 
	.background.tinted {
	    /*background-size:675px 400px  !important;*/
	    background-position: 57% -15%;
	}
	/*#home_ytvideo_watch {
	    top: 350px;
    }	*/
	.img1-box1 {
   	width: 100%;
}
.img1-box2 {
   	width: 38%;
}
.img1-box1 > span {
    font-size: 28px;
}
.img1-box2 > span {
    font-size: 28px;
}
}















@media all and (min-width: 1025px) and (max-width: 1280px) { 


}
@media all and (max-width: 736px) and (orientation:landscape) {
	#about-us .container #what_to_buy .fadeInDown .section-heading a strong { font-size: 16px; }
	#about-us .container #get_search_started .fadeInDown .section-heading a strong { font-size: 16px; }

    .img1-inner-txt-1 {
	    font-size: 25px; 
		top: 70px;
		left: 10px;
	}
	.img1-inner-txt-2 {
	    font-size: 25px; 
		top: 50px;		
		right: 10px;
	}	
	.img1-inner-txt-3 { 
		font-size: 25px; 
	   	top: 140px;
	   	right: 16px;	
	}	
	#home_ytvideo_watch {
		width: 240px;		
	    font-size: 15px; 
    	top: 300px;
		right: 50px;	
	 	text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
		             0px 8px 13px rgba(0,0,0,0.1),
		             0px 18px 23px rgba(0,0,0,0.1);   		
	}	
	#home_ytvideo_watch i {
	    font-size: 20px;
	}	
	.img2-inner-txt {
	    font-size: 30px; 
		top: auto;	
		bottom: 50px;	
		left: 10px;
		color: #fff;	
	}	
    .img3-inner-txt {
	    font-size: 30px; 
		top: auto;
		bottom: 50px;			
		left: 10px;
		color: #fff;		
	}	
    .img4-inner-txt {
	    font-size: 30px; 
		top: 50px;
		right: 10px;
		color: #fff;
		text-align: right;	
	}		
    .img5-inner-txt {
	    font-size: 30px; 
		top: 150px;
		right: 10px;
		text-align: right;			
	}	
    .img6-inner-txt {
	    font-size: 30px; 
		top: 10px;
		left: 10px;
		color: #fff;		
	}				
    .img7-inner-txt {
	    font-size: 30px; 
		top: 10px;
		left: 10px;
	}		
	footer {
	    padding: 5px 0px 100px 0;
	}	

	.background.tinted {
	    background-size: 775px 442px !important;
	    background-position: 100% 20%;
	}
	.img1-box1 span { font-size: 24px; text-transform: uppercase; font-weight: 700; }
	.img1-box2 span { font-size: 24px; font-weight: 700; }	
	.img1-box1 { position: absolute; top: 110px; right: 10px; width: 300px; }
	.img1-box2 { position: absolute; bottom: 85px; right: 10px; width: 300px; }	


}

@media all and (max-width: 667px) and (orientation:landscape) {

	#about-us .container #what_to_buy .fadeInDown .section-heading a strong { font-size: 16px; }
	#about-us .container #get_search_started .fadeInDown .section-heading a strong { font-size: 16px; }

    .img1-inner-txt-1 {
	    font-size: 25px; 
		top: 70px;
		left: 10px;
	}
	.img1-inner-txt-2 {
	    font-size: 25px; 
		top: 50px;		
		right: 10px;
	}	
	.img1-inner-txt-3 { 
		font-size: 25px; 
	   	top: 140px;
	   	right: 16px;	
	}	
	#home_ytvideo_watch {
		width: 240px;		
	    font-size: 15px; 
    	top: 300px;
		right: 50px;	
	 	text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
		             0px 8px 13px rgba(0,0,0,0.1),
		             0px 18px 23px rgba(0,0,0,0.1);   		
	}	
	#home_ytvideo_watch i {
	    font-size: 20px;
	}	
	.img2-inner-txt {
	    font-size: 30px; 
		top: auto;	
		bottom: 50px;	
		left: 10px;
		color: #fff;	
	}	
    .img3-inner-txt {
	    font-size: 30px; 
		top: auto;
		bottom: 50px;			
		left: 10px;
		color: #fff;		
	}	
    .img4-inner-txt {
	    font-size: 30px; 
		top: 50px;
		right: 10px;
		color: #fff;
		text-align: right;	
	}		
    .img5-inner-txt {
	    font-size: 30px; 
		top: 150px;
		right: 10px;
		text-align: right;			
	}	
    .img6-inner-txt {
	    font-size: 30px; 
		top: 10px;
		left: 10px;
		color: #fff;		
	}				
    .img7-inner-txt {
	    font-size: 30px; 
		top: 10px;
		left: 10px;
	}		
	footer {
	    padding: 5px 0px 100px 0;
	}	

	.background.tinted {
	    background-size: 775px 442px !important;
	    background-position: 100% 20%;
	}
	.img1-box1 span { font-size: 18px; text-transform: uppercase; font-weight: 700; }
	.img1-box2 span { font-size: 18px; font-weight: 700; }	
	.img1-box1 { position: absolute; top: 110px; right: 10px; width: 300px; }
	.img1-box2 { position: absolute; bottom: 85px; right: 10px; width: 300px; }	

}







@media all and (max-width: 640px) and (orientation:landscape) {

	#about-us .container #what_to_buy .fadeInDown .section-heading a strong { font-size: 16px; }
	#about-us .container #get_search_started .fadeInDown .section-heading a strong { font-size: 16px; }

    .img1-inner-txt-1 {
	    font-size: 25px; 
		top: 70px;
		left: 10px;
	}
	.img1-inner-txt-2 {
	    font-size: 25px; 
		top: 50px;		
		right: 10px;
	}	
	.img1-inner-txt-3 { 
		font-size: 25px; 
	   	top: 140px;
	   	right: 16px;	
	}	
	#home_ytvideo_watch {
		width: 240px;		
	    font-size: 15px; 
    	top: 270px;
		right: 50px;	
	 	text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
		             0px 8px 13px rgba(0,0,0,0.1),
		             0px 18px 23px rgba(0,0,0,0.1);   		
	}	
	#home_ytvideo_watch i {
	    font-size: 20px;
	}	
	.img2-inner-txt {
	    font-size: 30px; 
		top: auto;	
		bottom: 50px;	
		left: 10px;
		color: #fff;	
	}	
    .img3-inner-txt {
	    font-size: 30px; 
		top: auto;
		bottom: 50px;			
		left: 10px;
		color: #fff;		
	}	
    .img4-inner-txt {
	    font-size: 30px; 
		top: 50px;
		right: 10px;
		color: #fff;
		text-align: right;	
	}		
    .img5-inner-txt {
	    font-size: 30px; 
		top: 150px;
		right: 10px;
		text-align: right;			
	}	
    .img6-inner-txt {
	    font-size: 30px; 
		top: 10px;
		left: 10px;
		color: #fff;		
	}				
    .img7-inner-txt {
	    font-size: 30px; 
		top: 10px;
		left: 10px;
	}		
	footer {
	    padding: 5px 0px 100px 0;
	}	

	.background.tinted {
	    background-size: 775px 442px !important;
	    background-position: 100% 20%;
	}
	.img1-box1 span { font-size: 18px; text-transform: uppercase; font-weight: 700; }
	.img1-box2 span { font-size: 18px; font-weight: 700; }	
	.img1-box1 { position: absolute; top: 110px; right: 10px; width: 300px; }
	.img1-box2 { position: absolute; bottom: 65px; right: 10px; width: 300px; }	

}


@media all and (max-width: 480px) and (orientation:landscape) {	
	.navbar-brand > img {
	    width: 150px;
	    margin-top: 8px;
	}	
	.login_logout {
	    font-size: 10px;
	    padding: 10px 10px 0px 0px;
	}	
	.free-number {
	    font-size: 13px;
	}	
	#home_ytvideo_watch {
		width: 160px;
	    font-size: 15px; 
    	top: 220px;
		right: 10px;	
	}
	/*#home_ytvideo_watch .video-text { margin-top: -10px; }*/
	.img2-inner-txt {
	    font-size: 25px; 
	    top: auto;
	    right: auto;
		bottom: 50px;		
		left: 10px;
		color: #fff;	
		text-align: left;	
	}	
    .img3-inner-txt {
	    font-size: 25px; 
	    top: auto;
		bottom: 50px;		    
		left: 10px;
		color: #fff;	
	}	
    .img4-inner-txt {
	    font-size: 25px; 
		top: 50px;
		right: 10px;
		color: #fff;	
		text-align: right;	
	}		
    .img5-inner-txt {
	    font-size: 25px; 
		top: 150px;
		right: 10px;
		text-align: right;			
	}	
    .img6-inner-txt {
	    font-size: 25px; 
		top: 10px;
		left: 10px;
		color: #fff;			
	}				
    .img7-inner-txt {
	    font-size: 25px; 
		top: 10px;
		left: 10px;
	}	
	.background.tinted {
	    background-size: 700px 400px !important;
	    background-position: 100% 25%;
	}
	.img1-box1 span { font-size: 15px; text-transform: uppercase; font-weight: 700; }
	.img1-box2 span { font-size: 15px; font-weight: 700; }	
	.img1-box1 { position: absolute; top: 90px; right: 10px; width: 250px; }
	.img1-box2 { position: absolute; bottom: 100px; width: 250px; right: 10px; }	
}







































@media all and (max-width: 768px) { 

	#bs-example-navbar-collapse-1{
		max-height:490px !important;
	}
	
	#bs-example-navbar-collapse-1 ul li{
		display:block;
		width: 95%;
		margin: auto;
		border: solid thin #ccc;
		background-color:#EFEFEF;
		margin-bottom:2px;
		
	}
	
	#bs-example-navbar-collapse-1 ul li a{
		padding: 5px;
		text-align: center;	
	}
	
	#bs-example-navbar-collapse-1 ul #element1{
		width:100%;
		background-color:#91D615 !important;
	}
	
	#bs-example-navbar-collapse-1 ul #element2{
		width:100%;	
		background-color:#495EFF !important;
		float:none;
	}
	
	#bs-example-navbar-collapse-1 ul #element1 a{
		color:#fff !important;
	}
	
	#bs-example-navbar-collapse-1 ul #element2 a{
		color:#fff !important;
	}

	#content {
		margin: 100px 0 0 0;
	}

    .dashboard-title-mobile { display: block; }
	.user-info { height:30px; }
    .user-img { width: 50px; }

	.about-this-video {
	    margin: 0 auto !important;
	}   

    .img1-box1 { display: block; }
    .img1-box2 { 
    	display: block; 
    	/*display: none; */
    	/*text-shadow: 2px 4px 3px rgba(0,0,0,0.3); */
		text-shadow: 0px 4px 3px rgba(0,0,0,0.2),
		             0px 8px 13px rgba(0,0,0,0.1),
		             0px 18px 23px rgba(0,0,0,0.1);
    }
    .img1-inner-txt-1 { display: none; }
	.img1-inner-txt-2 { display: none; }	
	.img1-inner-txt-3 { display: none; }
	/*#home_ytvideo_watch { display: none; } */

	.watchthevideolink { display: block; }

	.background.bg-img2 { background-position:20% 80%; }	
	/*.background.tinted { border: none; }*/


	.img2-inner-txt,.img3-inner-txt,.img4-inner-txt,.img5-inner-txt,.img6-inner-txt,.img7-inner-txt { font-family: 'Fira Sans', sans-serif; }

	/*.fullscreen.background { font-family: 'Open Sans', sans-serif; }*/
/*
	.img2-inner-txt {
	    font-size: 30px; 
		top: 10px;		
		right: 10px;
		color: #fff;
		text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
				             0px 8px 13px rgba(0,0,0,0.1),
				             0px 18px 23px rgba(0,0,0,0.1);	
	}	
*/
	.arrow-scroll-down { 
		font-size: 30px; 
		color: #fff; 
		width: 100%; 
		text-align: right; 
		position: absolute; 
		bottom: 0;
		padding: 0 10px;
	}


}





@media all and (min-width: 1024px) { 


	/*.header-menu { display: none; }*/
	.dashboard-title { display: block; }
	.header-menu {  margin-top: 10px;}


}
































































































/*    #topimage { height: 800px; max-height: 800px; }
}

@media all and (max-width: 736px) and (orientation:landscape) {
	.top-push { margin-top: 40px; }		
    #topimage { height: 320px; max-height: 320px; }
}

@media all and (max-width: 667px) and (orientation:landscape) {
	.top-push { margin-top: 40px; }	
    #topimage { height: 300px; max-height: 300px; }
}

@media all and (max-width: 568px) and (orientation:landscape) {
    #topimage { height: 270px; max-height: 270px; }
}

@media all and (max-width: 414px) and (orientation:portrait) {
    #topimage { height: 600px; max-height: 600px; }
}

@media all and (max-width: 384px) and (orientation:portrait) {
    #topimage { height: 550px; max-height: 550px; }
}

@media all and (max-width: 375px) and (orientation:portrait) {
    #topimage { height: 550px; max-height: 550px; }
}

@media all and (max-width: 320px) and (orientation:portrait) {
    #topimage { height: 450px; max-height: 450px; }
}*/



/*------------------------------------------
  TARGETTING SPECIFIC DEVICE
--------------------------------------------*/




/* ----------- Galaxy S5 ----------- */

/* Portrait and Landscape */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) {

}

/* Portrait */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) 
  and (orientation: portrait) {

}

/* Landscape */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) 
  and (orientation: landscape) {

}

/* ----------- iPhone 6 ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 

}

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 

}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 

}