body {
margin:0;
padding:0;
font-family:Arial, Helvetica, sans-serif;
}
h1, h2, h3, h4, h5, h6, p, ul, ol, li {
margin:0;
padding:0;
}
a
{
text-decoration:underline;
color:#86ab53;
}
ul, ol, li {
list-style:none;
}
.fl {
float:left;
}
.fr {
float:right;
}
.outer_main
{
width:100%;
}
.auto_con
{
margin:auto;
width:980px;
}
.specific_outer
{
width:980px;
}
.model_main
{
width: 972px;
}
.model_main h2
{
font-family:Arial, Helvetica, sans-serif;
font-size:20px;
line-height:22px;
padding:7px 5px;
border-bottom: 1px solid #dedede;
font-weight:bold;
padding:0 0 10px 10px;
color: #86ab53;
margin:15px 0 30px;
text-align:left;
}
.logo_main {
border-bottom: 1px solid #e2e2e2;
margin: 20px 0 50px;
padding-bottom: 30px;
width: 100%;
}
.model_pic
{
display:block;
padding:0 15px;
}
.model_detail_main
{
width:100%;
}
/*.detail_form_out
{
float:left;
width:100%;
padding-bottom:4px;
}*/
.detail_form_out {
float: left;
padding-bottom: 4px;
width:48%;
margin-right:37px;
}
.detail_form_out:last-child {
margin:0;
}
.model_name_con
{
float:left;
width:150px;
font-family:Arial, Helvetica, sans-serif;
font-size:14px;
line-height:38px;
color:#888;
}
/*.model_txt_out
{
float:left;
width:425px;
}*/

.model_txt_out {
float: left;
width: 100%;
}
/*.model_txtfld
{
font-family:Arial, Helvetica, sans-serif;
font-size:14px;
line-height:22px;
padding:7px 5px;
float:left;
width:100%;
border:1px solid #ddd;
background:#fff;
}*/
.model_txtfld
{
background-color: #f9f9f9;
border-color: #C3C5C9;
box-shadow: 0 4px 7px #ebeced inset;
font-family: Arial, Helvetica, sans-serif;
font-weight: 300;
height: auto;
padding: 10px 3%;
border:solid 1px #C3C5C9;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
color:#787878;
width:94%;
margin: 0 0 7px;
font-size:13px;
}
.model_select {
	background-color: #f9f9f9;
	border-color: #C3C5C9;
	box-shadow: 0 4px 7px #ebeced inset;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 300;
	height: auto;
	padding: 10px 3%;
	border: solid 1px #C3C5C9;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	color:#787878;
	width: 100px;
	margin: 0 0 7px;
	font-size: 13px;
	cursor: pointer;
}
/*.model_txtarea
{
font-family:Arial, Helvetica, sans-serif;
font-size:14px;
line-height:22px;
padding:7px 5px;
float:left;
width:100%;
border:1px solid #ddd;
background:#fff;
}*/

.model_txtarea{
background-color: #f9f9f9;
border-color: #C3C5C9;
box-shadow: 0 4px 7px #ebeced inset;
font-family: Arial, Helvetica, sans-serif;
font-weight: 300;
height: auto;
padding: 10px 10px 10px 10px;
border:solid 1px #C3C5C9;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
color:#787878;
width:94%;
margin: 0 0 7px;
resize: none;
font-size:13px;
height: 100px;
}
.additional_main {
border-bottom: 1px solid #e2e2e2;
border-top: 1px solid #e2e2e2;
float: left;
margin: 40px 0;
padding: 35px 0;
width: 100%;
}
.additional_main h3
{
font-family:Arial, Helvetica, sans-serif;
font-size:20px;
line-height:22px;
padding:7px 5px;
font-weight:bold;
padding:0;
margin:0 0 20px;
text-transform:uppercase;
}
.additional_main h4
{
font-family:Arial, Helvetica, sans-serif;
font-size:20px;
line-height:22px;
padding:7px 5px;
font-weight:bold;
padding:0;
margin:0 0 10px
}
.additional_innr
{
float:left;
width:100%;
margin:0 0 20px;
}
.add_check
{
float:left;
width:180px;
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
line-height:22px;
padding:7px 5px;
}
.purchase_out
{
float:left;
width:100%;
}
.specific_out
{
float:left;
width:100%;
margin:0 0 20px
}
.specific_out h4 {
font-family: Arial,Helvetica,sans-serif;
font-size: 23px;
font-weight: bold;
line-height: 22px;
margin: 0 0 15px;
padding: 0;
}
.specific_out h5
{
font-family:Arial, Helvetica, sans-serif;
font-size:16px;
line-height:22px;
padding:0;
font-weight:bold;
padding:0;
margin:0 0 4px;
}
.specific_out p
{
font-family:Arial, Helvetica, sans-serif;
font-size:13px;
line-height:18px;
padding:0;
padding:0;
margin:0 0 10px
}
.wholesale_btn a
{
line-height:20px; 
color:#fff; 
font-size:13px; 
padding: 12px 20px;
background:#92d050; 
/*border:1px solid #3c5520;*/
text-decoration:none;
}
.wholesale_btn a:hover
{
color:#fff;
background:#5e9524;
text-decoration:none; 
}
.messages_con
{
float:left;
width:100%;
margin:20px 0;
width:235px;font-family:Arial, Helvetica, sans-serif;
}
.messages_con a
{
line-height:20px; 
color:#fff; 
font-size:15px; 
padding: 12px 20px;
background:#92d050; 
/*border:1px solid #3c5520;*/
text-decoration:none;
}
.messages_con a:hover
{
color:#fff;
background:#5e9524;
text-decoration:none; 
}
.messages_inn
{
float:left;
width:100%;
background: #D0D0D0;
padding: 15px;
margin-bottom: 25px;
}
.messages_inn p
{
font-family:Arial, Helvetica, sans-serif;
font-size:18px;
line-height:18px;
padding:0;
padding:0;
margin:0 0 10px
}
.messages_inn p > span {
	color: #86AB53;
}

.login-main {
margin: 0 auto;
width: 600px;
}
.upme-wrap {
float: left;
font-family: Open Sans,"Helvetica","Arial";
margin: 0 0 20px;
max-width: 100%;
width: 100%;
}

.upme-inner {
background-color: #fff;
border: 1px solid #ddd;
box-shadow: 0 1px 2px -1px #ccc;
}
.upme-main {
border-top: 4px solid #86ab53;
font-size: 14px;
padding: 45px 55px;
}
.upme-main h1 {
font-family:Arial, Helvetica, sans-serif;
font-size:30px;
padding:0;
font-weight:bold;
padding:0;
margin: 0 0 34px;
text-align:left;
text-transform:uppercase;

}
.upme-field {
padding: 0 0 20px;
}
.upme-field-type {
color: #888;
}
.upme-field-type span{
float: left;
line-height: 26px;
font-family: Arial, Helvetica, sans-serif;
}

.upme-field-value {   
	float: left;
    margin: 0 0 0 8px;
    width: 78%;
}
.upme-clear, .clear {
	clear: both;
}
.upme-login-btn {
background-color: #1391da !important;
background-image: -moz-linear-gradient(center top , #1391da, #1278b2) !important;
border: 1px solid #1278b2 !important;
box-shadow: 0 -1px 1px -1px #fff inset !important;
color: #fff !important;
text-shadow: none !important;
padding: 10px 30px !important;
cursor: pointer;
width: auto !important;
font-size:14px;
}
.upme-login-btn02 {
float: left;
margin: 10px 0 0;
width: 100%;
}
.upme-login-btn02 a {
background-color: #1391da !important;
background-image: -moz-linear-gradient(center top , #1391da, #1278b2) !important;
border: 1px solid #1278b2 !important;
box-shadow: 0 -1px 1px -1px #fff inset !important;
color: #fff !important;
text-shadow: none !important;
padding: 10px 30px !important;
cursor: pointer;
width: auto !important;
font-size:14px;
text-decoration:none;
font-family:Arial, Helvetica, sans-serif;
}
.upme-login-btn02 a:hover {
text-decoration:none;
color: #fff !important;
font-size:14px;
}
.upme-field-type {
float: left;
width: 20%;
}
.upme-input {
float: left;
width: 84%;  
background-color: #f9f9f9;
border-color: #C3C5C9;
box-shadow: 0 4px 7px #ebeced inset;
font-family: Arial, Helvetica, sans-serif;
font-weight: 300;
height: auto;
padding: 10px 10px 10px 49px;
border:solid 1px #C3C5C9;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
color:#787878;
}
.user-name{
background-image:url(../images/user-name.jpg);
background-repeat:no-repeat;
background-position:left center;	
}

.user-pass{
background-image:url(../images/user-pass.jpg);
background-repeat:no-repeat;
background-position:left center;	
}
/* start dashboard*/

.dashboar-main.second {
	width: 100%;
	margin: 0 auto;
}

.dash-inner {
margin: 30px 0 0;
width: 100%;
}
.name, .make {
border-right: 1px solid #f4f4f4;
color: #fff;
float: left;
font-family: Arial,Helvetica,sans-serif;
padding: 9px;
width: 175px;
background-color:#86ab53;
}
.email-id {
border-right: 1px solid #f4f4f4;
color: #fff;
float: left;
font-family: Arial,Helvetica,sans-serif;
padding: 9px;
width: 245px;
background-color:#86ab53;
}
.car-model {
border-right: 1px solid #f4f4f4;
color: #fff;
float: left;
font-family: Arial,Helvetica,sans-serif;
padding: 9px;
width: 137px;
background-color:#86ab53;
}
.car-status {
border-right: 1px solid #f4f4f4;
color: #fff;
float: left;
font-family: Arial,Helvetica,sans-serif;
padding: 9px 8px;
width: 147px;
background-color:#86ab53;
}
.last{
text-align:center;
}
.dash-btm{
width:100%;	
font-size:14px;
font-family:Arial, Helvetica, sans-serif;
}
.dash-name {
border-bottom: 1px solid #e2e2e2;
/*border-left: 1px solid #e2e2e2;*/
border-right: 1px solid #e2e2e2;
float: left;
padding: 9px;
width: 175.4px;
font-family: Arial,Helvetica,sans-serif;
line-height:34px;
}

.dash-email {
border-bottom: 1px solid #e2e2e2;
border-right: 1px solid #e2e2e2;
float: left;
padding: 9px;
width: 245px;
font-family: Arial,Helvetica,sans-serif;
line-height:34px;
}
.dash-car {
border-bottom: 1px solid #e2e2e2;
border-right: 1px solid #e2e2e2;
float: left;
padding: 9px;
width: 175px;
font-family: Arial,Helvetica,sans-serif;
line-height:34px;
}

.dash-model {
border-bottom: 1px solid #e2e2e2;
border-right: 1px solid #e2e2e2;
float: left;
padding: 9px;
width: 137px;
font-family: Arial,Helvetica,sans-serif;
line-height:34px;
}
.dash-status {
border-bottom: 1px solid #e2e2e2;
float: left;
padding:8px 8px 9.5px 8px;
width: 147px;
font-family: Arial,Helvetica,sans-serif;
text-align:center;
}
.dash-status-btn{
background-color: #86ab53 !important;
background-image: -moz-linear-gradient(center top , #668b33, #84a951) !important;
border: 1px solid #56801d !important;
box-shadow: 0 -1px 1px -1px #fff inset !important;
color: #fff !important;
text-shadow: none !important;
cursor: pointer;
width: 80%;
font-size: 14px;
padding: 7px 0;
}

.dash-bg {
background-color: #f4f4f4;
}
/* end dashborard*/

.model01 {
padding:0;
border-bottom: 1px solid #e2e2e2;
background-color:#f9f9f9;
}
.heading_con
{
font-family:Arial, Helvetica, sans-serif;
font-size:30px;
padding:0;
font-weight:bold;
padding:0;
margin: 0;
text-align:left;
text-transform:uppercase;
padding-bottom: 15px;
padding: 0 15px 15px;
}
.add-more-equipment { padding: 0 15px; }
.add_check span {
/* float: left;
width: 75%;*/
}
.add_check > input {
float: left;
margin: 5px 10px 0 0;
}

.tab-inner-left {
border-right: 1px solid #ddd;
float: left;
margin: 0 10px 0 0;
padding: 10px 0 0;
width: 68%;
}
.tab-inner-left p {
font-family: Arial,Helvetica,sans-serif;
font-size: 13px;
padding: 0 10px 10px;
line-height:18px;
}
.tab-inner-left h1 {
font-family: arial;
font-size: 25px;
padding: 0 10px 10px;
color:#86ab53;
}
.tab-inner-right{
padding: 10px 0 0;
width: 30%;
float:left;
}

.tab-inner-right p {
color: #142c3c;
font-family: Arial,Helvetica,sans-serif;
font-size: 13px;
padding: 10px;
line-height:15px;
border-bottom: 5px solid #fff;
}

.tab-inner-right span {
font-size: 12px;
font-weight: normal;
line-height: 13px;
}
.tab-inner-left p strong{

}
.tab-inner-right a {
color: #216ece;
text-decoration: underline;
}
.tab-inner-right a:hover {
color: #216ece;
text-decoration: none;
}

.tab-inner-left ul {
margin: 0 0 10px;
padding: 0;
}

.tab-inner-left ul li {
list-style: inside none disc;
margin: 0;
padding: 0 0 0 20px;
font-family: Arial,Helvetica,sans-serif;
font-size: 13px;

}
.firm-quot {
color: #fff;
font-family: Arial,Helvetica,sans-serif;
font-size: 13px;
font-weight: bold;
float:left;
width:40%;
border: 1px solid #ffffff;
padding: 9px;
border-right:none;
background-color:#86ab53;
}

.status{
color: #fff;
font-family: Arial,Helvetica,sans-serif;
font-size: 13px;
font-weight: bold;
float:left;
width:15%;
border: 1px solid #ffffff;
padding: 9px;
border-right:none;
background-color:#86ab53;
}

.availability{
color: #fff;
font-family: Arial,Helvetica,sans-serif;
font-size: 13px;
font-weight: bold;
float:left;
width:15%;
border: 1px solid #ffffff;
padding: 9px;
border-right:none;
background-color:#86ab53;
}

.price{
color: #fff;
font-family: Arial,Helvetica,sans-serif;
font-size: 13px;
font-weight: bold;
float:left;
width:15.3%;
border: 1px solid #ffffff;
padding: 9px;
border-right:none;
background-color:#86ab53;
}

.dash-all-quot {
background-color:#f4f4f4;
float: left;
width: 97%;
}
.dash-name01 {
border-bottom: 1px solid #e2e2e2;
border-right: 1px solid #e2e2e2;
float: left;
font-family: Arial,Helvetica,sans-serif;
line-height: 34px;
padding: 9px 9px 7.1px;
width: 41.3%;
}
.dash-email01 {
border-bottom: 1px solid #e2e2e2;
border-right: 1px solid #e2e2e2;
float: left;
font-family: Arial,Helvetica,sans-serif;
line-height: 34px;
padding: 9px;
width: 15.5%;
font-size:13px;
}
.dash-car01 {
border-bottom: 1px solid #e2e2e2;
border-right: 1px solid #e2e2e2;
float: left;
font-family: Arial,Helvetica,sans-serif;
line-height: 34px;
padding: 9px;
width: 15.4%;
font-size:13px;
}
.dash-model01 {
border-bottom: 1px solid #e2e2e2;
border-right: medium none;
float: left;
font-family: Arial,Helvetica,sans-serif;
line-height: 34px;
padding: 9px;
width: 15.7%;
font-size:13px;
}

.formbluetext {
font-weight: bold;
margin: 0;
padding: 0 !important;
text-decoration: none;
}
.formbluetext a{
color: #216ece;
text-decoration: underline;
font-size:13px;
}
.formbluetext a:hover{
color: #216ece;
text-decoration: none;
}
.greyeleven {
font-size: 11px !important;
margin: 0;
padding: 0 !important;
}
.dash-bg-none {
float: left;
width: 97%;
}
.formbluetext span {
float: left;
margin: 0 0 16px;
}

.firm-main {
float: left;
width: 100%;
}
.table-formet-inner {
float: left;
width: 100%;
}
.delete-btn{
background-color: #86ab53 !important;
background-image: -moz-linear-gradient(center top , #668b33, #84a951) !important;
border: 1px solid #1278b2 !important;
box-shadow: 0 -1px 1px -1px #fff inset !important;
color: #fff !important;
text-shadow: none !important;
padding:6.3px 30px !important;
cursor: pointer;
width: auto !important;
font-size:14px;
margin:20px 0;
}
/****************24-06-2015********************/
.error {

background:yellow;
float:left;
}
.interior_equip {
float: left;
margin-bottom: 25px;
}
.remove_project_file > img {
margin: 7px 0 0;
width: 16px;
cursor: pointer;
}
.filled_img {
border: 1px solid #ccc;
display: inline-block;
float: none;
margin: 0 10px 10px 0;
padding: 5px;
text-align: center;
vertical-align: middle;
}
.filled_img > img {
float: left;
height: 100px;
width: 107px;
}

/* new css start 17-7-2015*/

.filled_img_outer {
	width:100%;
	float:left;
	padding:0 1.5%;
margin: 20px 0;
}



/* new css end 17-7-2015*/



#Older {
background-color: #86ab53 !important;
background-image: -moz-linear-gradient(center top , #668b33, #84a951) !important;
padding: 10px 0;
text-align: center;
width: 75px;
cursor: pointer;
color:#fff;
font-family:Arial, Helvetica, sans-serif;
font-size:14px;
float: right;
}
#Older a {
text-decoration:none;
color:#fff;
}
#Newer {
background-color: #86ab53 !important;
background-image: -moz-linear-gradient(center top , #668b33, #84a951) !important;
padding: 10px 0;
text-align: center;
width: 75px;
color:#fff;
font-family:Arial, Helvetica, sans-serif;
font-size:14px;
cursor: pointer;
float: left;
}
#Newer a {
text-decoration:none;
color:#fff;
}
.outer_main {
padding: 0 0 50px;
width: 100%;
}
.dash-bg {
background-color: #f4f4f4;
height: 33px;
}
.feedback {
float: left;
margin: 0 0 20px;
width: 100%;
}
.feedback table {
width: 100%;
}
.intrest-main {
background-color: #86ab53;
width: 100%;
}
.intrest-main {
background-color: #86ab53;
width: 100%;
}
.feedback table tr th {
padding: 10px;
font-family: Arial,Helvetica,sans-serif;
border-right:solid 1px #ccc;
color: #fff;
}

.feed-back td{
border: 1px solid #ccc;
padding: 5px;
text-align: center;
font-family: Arial,Helvetica,sans-serif;
font-size:13px;
}




.send_top_bar {
float: left;
margin: 0 0 15px;
width: 100%;
}
.pagenation-bar.for_older {
float: right;
}
.detail_form_con
{
padding:0 10px;
}
.send_brows_bar
{
width:100%;
float:left;
}
#send_brows_bar {
display: block;
padding: 0 15px 15px;
}

#send_brows_bar input, .resend_gallery_tab span.uploads > a {
background-color: #86ab53 !important;
background-image: -moz-linear-gradient(center top , #668b33, #84a951) !important;
border: 1px solid #56801d !important;
box-shadow: 0 -1px 1px -1px #fff inset !important;
color: #fff !important;
text-shadow: none !important;
padding:8px 30px !important;
cursor: pointer;
width: auto !important;
font-size:14px;
margin:0 10px 0 0;
text-decoration: none;
}
.caption_fld
{
background-color: #f9f9f9;
border-color: #C3C5C9;
box-shadow: 0 4px 7px #ebeced inset;
font-family: Arial, Helvetica, sans-serif;
font-weight: 300;
height: auto;
padding:5px 5px;
border:solid 1px #C3C5C9;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
color:#787878;
width:135px;
margin:0 6px 7px 0;
font-size:13px;
}
.wholesale_btn2{
	float: left;
text-align: center;
width: 100%;
}
.wholesale_btn2 input{
background-color: #86ab53 !important;
background-image: -moz-linear-gradient(center top , #668b33, #84a951) !important;
border: 1px solid #56801d !important;
box-shadow: 0 -1px 1px -1px #fff inset !important;
color: #fff !important;
text-shadow: none !important;
padding:8px 30px !important;
cursor: pointer;
width: auto !important;
font-size:14px;
margin:20px 0 30px 0;
}
.details_form_btn {
float: left;
text-align: center;
width: 100%;
}
.details_form_btn input{
background-color: #86ab53 !important;
background-image: -moz-linear-gradient(center top , #668b33, #84a951) !important;
border: 1px solid #56801d !important;
box-shadow: 0 -1px 1px -1px #fff inset !important;
color: #fff !important;
text-shadow: none !important;
padding:8px 30px !important;
cursor: pointer;
width: auto !important;
font-size:14px;
margin:20px 0 30px 0;
}

.resend_gallery_tab {
	display:block;
	padding:0 1.5%;
	width:97%;
	float:left;
}
.resend_gallery_tab > li {
    float: left;
    width: auto;
}
.resend_gallery_tab li a {
background-color: #86ab53;
background-image: -moz-linear-gradient(center top , #668b33, #84a951);
border: 1px solid #56801d;
box-shadow: 0 -1px 1px -1px #fff inset;
color: #fff !important;
text-shadow: none;
padding:8px 30px;
cursor: pointer;
width: auto;
font-size:14px;
margin:0 10px 0 0;
text-decoration:none !important;
font-family:Arial, Helvetica, sans-serif;
}
.remove_project_file
{
	background:none !important;
	border:none !important;
	box-shadow:0 !important;
	margin:0 !important;
}
.resend_up_btn {
    margin: 20px 0 0;
}
#lastt1 {
    margin: 20px 0 0;
}
.ww {
    margin: 20px 0 0;
}
#login_form {
	background-color: #eee;
    border: 1px solid #ccc;
    padding: 27px 30px 0;
}
.user_meta {
    background-color: #3a3a3a;
    color: #fff;
    float: left;
    padding: 9px 0;
    text-align: right;
    width: 100%;
}
.user_meta a {
    margin: 0 34px 0 0;
}
.user_meta a:hover {
    text-decoration: none;
}

.upme-field-type span {
    margin: 8px 0 0;
}
.btn_show
{
  width: 20px;
  height: 20px;
  background-color: #86ab53;
  color: #fff;
  font-weight: bold;
  display: inline-block;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  border-radius: 3px;
  border: 1px #3a8d09 solid;
}
.btn_hide
{
  width: 20px;
  height: 20px;
  background-color: #86ab53;
  color: #fff;
  font-weight: bold;
  display: inline-block;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  border-radius: 3px;
  border: 1px #3a8d09 solid;
}
.btn_show02
{
  width: 20px;
  height: 20px;
  background-color: #86ab53;
  color: #fff;
  font-weight: bold;
  display: inline-block;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  border-radius: 3px;
  border: 1px #3a8d09 solid;
}
.btn_hide02
{
  width: 20px;
  height: 20px;
  background-color: #86ab53;
  color: #fff;
  font-weight: bold;
  display: inline-block;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  border-radius: 3px;
  border: 1px #3a8d09 solid;
}
.table_main_outer {
  width: 725px;
  border-left: 1px #000 solid;
}
.table_main_outer tr {
  width: 49.86%;
  float: left;
  height: auto !important;
  border-right: 1px #000 solid;
  border-bottom: 1px #000 solid;
  border-spacing: 0px;
  border-left: 0px #000 solid;
}
.table_main_outer tr:first-child
{
	display:none;
}
.table_main_outer tr td {
  width: 96% !important;
  float: left;
  padding: 0 0 0 12px;
}
.btn_show {
	width: 20px;
	height: 20px;
	background-color: #86ab53;
	color: #fff;
	font-weight: bold;
	display: inline-block;
	line-height: 20px;
	text-align: center;
	text-decoration: none;
	border-radius: 3px;
	border: 1px #3a8d09 solid;
}
.btn_hide {
	width: 20px;
	height: 20px;
	background-color: #86ab53;
	color: #fff;
	font-weight: bold;
	display: inline-block;
	line-height: 20px;
	text-align: center;
	text-decoration: none;
	border-radius: 3px;
	border: 1px #3a8d09 solid;
}
.btn_show02 {
	width: 20px;
	height: 20px;
	background-color: #86ab53;
	color: #fff;
	font-weight: bold;
	display: inline-block;
	line-height: 20px;
	text-align: center;
	text-decoration: none;
	border-radius: 3px;
	border: 1px #3a8d09 solid;
}
.btn_hide02 {
	width: 20px;
	height: 20px;
	background-color: #86ab53;
	color: #fff;
	font-weight: bold;
	display: inline-block;
	line-height: 20px;
	text-align: center;
	text-decoration: none;
	border-radius: 3px;
	border: 1px #3a8d09 solid;
}
.show {
	transition:All 1s ease;
	-webkit-transition:All 1s ease;
	-moz-transition:All 1s ease;
	-o-transition:All 1s ease;
	margin:0 0 12px 0;
}
.show02 {
	transition:All 1s ease;
	-webkit-transition:All 1s ease;
	-moz-transition:All 1s ease;
	-o-transition:All 1s ease;
	margin:0 0 12px 0;
}

.feed_back_outer {
    background-color: #86ab53 !important;
    background-image: -moz-linear-gradient(center top , #668b33, #84a951) !important;
    border: 1px solid #56801d !important;
    box-shadow: 0 -1px 1px -1px #fff inset !important;
    color: #fff !important;
    cursor: pointer;
    font-size: 14px;
    padding: 10px 15px !important;
    text-shadow: none !important;
    width: auto !important;
	margin:0 0 20px 15px;
}
.slides
{
	top:32px !important;
}
.radio_filed_outer
{
  width: 100%;
  float: left;
  margin: 0 0 14px 0;
}
.radio_filed_outer_textarea
{
  width: 100%;
  float: left;
}
.radio_filed_outer_textarea td
{
  width: 716px;
  float: left;
}
.radio_filed_outer_textarea span {
  float: left;
  margin: 30px 10px 0 0;
}
.radio_filed_outer_textarea textarea
{
	width: 87%;
}
.radio_filed_outer_textarea .feed_back_outer
{
	margin:10px 0 20px 85px;
}

/* MISC 
======================/*

/* stripe color style */
.odd {
	background: #cecece;
}
.even {
	background: #ffffff;
}

/* color gray */
.gray { 
    color: #888;
}

/* loading gif */
#loading_1 {
	position: absolute;
    right: 50%;
    bottom: 30%;
}

/* autofill bg color */
input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
    background: none !important;
}

.vin-note {
	font-size: 12px;
    color: #888;
}

.text-center {
	text-align: left;
}

a.add-more-equipment {
	background: #86AB53;
    color: #ffffff;
    padding: 10px 15px;
    text-decoration: none;
}
.success-message {
	color: #86AB53;
	font-size: 30px;
	margin-top: 34px;
}
.sent-message {
    text-align: center;    
}

.pagination {
	margin-top: 15px;
}

input[name="send_feedback"] {
	background: #86ab53;
    border: none;
    color: #fff;
    padding: 10px 15px;
}

tr.feed-back:nth-child(2n + 1) {
	background: #E0E0E0;
}

/* Media Queries
======================*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.auto_con, .specific_outer, .model_main {	width: 100%; }
	.dash-name, .name { width: 20%; }
	.email-id, .dash-email { width: 28%; }
	.car-model, .dash-model { width: 10%; }
	.make, .dash-car {  width: 15%; }
	.car-status, .dash-status { width: 16.7%; }

}

/* Small Devices, Tablets */
@media only screen and (max-width : 800px) {
	.dash-name, .name { width: 20%; }
	.email-id, .dash-email { width: 28%; }
	.car-model, .dash-model { width: 10%; }
	.make, .dash-car {  width: 15%; }
	.car-status, .dash-status { width: 13%; }	 
}

@media only screen and (max-width : 768px) {
	.logo_main img { display: block; margin: 0 auto; }
	.user_meta { text-align: center; }
}

@media only screen and (max-width : 600px) {
	.login-main{ width: 100%; }
	.upme-main {		
		padding: 10px;
	}
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
	.dash-inner { font-size: 12px; }
	.dash-btm { font-size: 11px; }
	.email-id, .dash-email { display: none; }
	.dash-name, .name { width: 24%; }	
	.car-model, .dash-model { width: 18%; }
	.make, .dash-car {  width: 22%; }
	.car-status, .dash-status { width: 13%; }
	.dash-status-btn { width: 100%; font-size: 12px; }
	.intrest-main { font-size: 11px; }
	.feed-back td { font-size: 11px; }
	.feedback table tr th { padding: 7px 8px; }
	#container_1, .model_main h2 { 
		text-align: center; 
	}
	#send_brows_bar span { display: block; margin-top: 10px; }
	.detail_form_out { margin: 0; width: 100%; text-align: center; }
	.model_name_con { text-align: center; float: none; margin: 0; width: 100%; }	
	
}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {
	
}

